<ion-view title={{AccountTitle}}>
    <ion-nav-buttons side="right">
        <button class="button button-clear button-positive customHeaderIcon customHeaderIconSmall" ng-click="saveAccount(currentItem)">Save</button>
    </ion-nav-buttons>
    <ion-content has-header="true">
        <div class="list list-inset">
            <span class="input-label formLabelBold">Account Name</span>
            <div class="input-group margin-bottom-sm">
                <span class="input-group-addon"><i class="icon ion-ios-browsers-outline formIconSize"></i></span>
                <input class="form-control" type="text" placeholder="Account Name" ng-model="currentItem.accountname">
            </div>
            <span class="input-label formLabelBold">Begining Balance</span>
            <div class="input-group margin-bottom-sm">
                <span class="input-group-addon"><i class="fa fa-usd formIconSize"></i></span>
                <input class="form-control" type="text" placeholder="Begining Balance" ng-model="currentItem.startbalance">
            </div>
            <span class="input-label formLabelBold">Start Date</span>
            <div class="input-group margin-bottom-sm">
                <span class="input-group-addon"><i class="fa fa-calendar formIconSize"></i></span>
                <ionic-datepicker idate="currentItem.dateopen">
                    <button class="button button-clear button-dark">{{ currentItem.dateopen | date:'MMMM dd, yyyy' }}</button>
                </ionic-datepicker>
            </div>
            <span class="input-label formLabelBold">Account Type</span>
            <div class="input-group margin-bottom-sm" ng-click="openModal()">
                <span class="input-group-addon"><i class="fa fa-university formIconSize"></i></span>
                <span class="input-label">{{currentItem.accounttype}}</span>
            </div>
        </div>
    </ion-content>
</ion-view>