<ion-view title="Account Types">
    <ion-content>
        <ion-list can-swipe="listCanSwipe">
            <ion-item>
                Checking
                <ion-option-button class="button-assertive" ng-click="delete(account)">
                    Delete
                </ion-option-button>
            </ion-item>
            <ion-item>
                Savings
                <ion-option-button class="button-assertive" ng-click="delete(account)">
                    Delete
                </ion-option-button>
            </ion-item>
            <ion-item>
                Cash
                <ion-option-button class="button-assertive" ng-click="delete(account)">
                    Delete
                </ion-option-button>
            </ion-item>
            <ion-item>
                Credit Card
                <ion-option-button class="button-assertive" ng-click="delete(account)">
                    Delete
                </ion-option-button>
            </ion-item>
            <ion-item>
                Debit Card
                <ion-option-button class="button-assertive" ng-click="delete(account)">
                    Delete
                </ion-option-button>
            </ion-item>
            <ion-item>
                Investment
                <ion-option-button class="button-assertive" ng-click="delete(account)">
                    Delete
                </ion-option-button>
            </ion-item>
            <ion-item>
                Loan
                <ion-option-button class="button-assertive" ng-click="delete(account)">
                    Delete
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>