<ion-view title="Preferences" ng-init="getProfile()">
    <ion-nav-buttons side="right">
        <button class="button button-clear button-positive customHeaderSize" ng-click="savePreferences()">
            Save
        </button>
    </ion-nav-buttons>
    <ion-content has-header="true">
        <div ng-hide="hideValidationMessage" class="cssSlideUp ng-hide">
            <div class="validationDiv">
                <p>
                    {{ validationMessage }}
                </p>
            </div>
        </div>
        <div class="ion-list">
            <div class="item item-divider mlSmallerFont CustomSubHeader">Select your preferences below</div>
            <ion-item class="item-icon-left item-icon-right form-group floating-padding" ui-sref="app.picksettingsdefaultdate">
                <i class="icon fa fa-calendar-o placeholder-icon"></i>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Default Date</span>
                    <input type="text" placeholder="Default Date" ng-model="preferences.defaultdate" readonly>
                </label>
                <i class="icon ion-chevron-right customChevronForm"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right form-group floating-padding" ui-sref="app.picksettingsdefaultbalance">
                <i class="icon fa fa-money placeholder-icon"></i>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Default Balance</span>
                    <input type="text" placeholder="Default Balance" ng-model="preferences.defaultbalance" readonly>
                </label>
                <i class="icon ion-chevron-right customChevronForm"></i>
            </ion-item>
        </div>
    </ion-content>
</ion-view>