<ion-view title="Accounts" ng-init="list()">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon customHeaderIcon customHeaderIconSize"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="right button button-icon icon ion-plus customHeaderIcon" ng-click="createAccount('Add')"></button>
        <button class="button button-icon ion-ios-more customHeaderIcon customHeaderIconSize" on-icon="button button-icon ion-ios-more" off-icon="button button-clear button-positive" ng-click="enableSorting(SortingIsEnabled)" icon-switcher>{{ reorderBtnText }}</button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <ion-list can-swipe="listCanSwipe" show-reorder="SortingIsEnabled">
            <ion-item ng-repeat="account in accounts" ng-click="handleSwipeOptions($event, account)" href="#" class="item-icon-right">
                <div class="row AccountScreenPadding">
                    <div class="col-50 customAccDesc">
                        <span>
                            {{account.accountname}}
                            <small>
                                <div id="transactionIcons">
                                    <ul>
                                        <li><i class="fa fa-calendar-o"></i>{{account.dateopen | date:'MM/dd/yyyy'}}</li>
                                        <li><i class="fa fa-tag"></i>{{account.accounttype}}</li>
                                    </ul>
                                </div>
                            </small>
                        </span>
                    </div>
                    <div class="col-50 right customAccAmt" ng-class="{amountRed: transaction.type == 'expense', amountGreen: transaction.type == 'income'}">
                        <span>
                            {{account.balance | currency}}
                            <small></small>
                        </span>
                    </div>
                </div>
                <ion-option-button class="button-energized" ng-click="editAccount(account)">
                    &nbsp;&nbsp;Edit&nbsp;&nbsp;
                </ion-option-button>
                <ion-option-button class="button-assertive" ng-click="deleteAccount(account)">
                    Delete
                </ion-option-button>
                <i class="icon ion-chevron-right"></i>
                <ion-reorder-button class="ion-navicon" on-reorder="moveItem(account, $fromIndex, $toIndex)"></ion-reorder-button>
            </ion-item>
        </ion-list>
    </ion-content>
    <div class="bar bar-footer bar-stable">
        <div class="title">Net Worth: {{networth | currency}}</div>
    </div>
</ion-view>