<ion-view title={{AccountTitle}} ng-init="list()">
    <ion-nav-buttons side="right">
        <button class="right button button-icon icon ion-plus customIconSize" ng-click="openEntryForm('Add')"></button>
        <button class="button button-icon ion-ios-more" on-icon="button button-icon ion-ios-more" off-icon="button button-clear button-positive customHeaderSize" ng-click="enableSorting(SortingIsEnabled)" icon-switcher>{{ reorderBtnText }}</button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <ion-list can-swipe="listCanSwipe" show-reorder="SortingIsEnabled">
            <ion-item ng-repeat="(id, account) in account.account" itemid="type" ng-click="closeSwipeOptions($event)" href="#" class="item-icon-right">
                {{type.AccountTypeName}}
                <ion-option-button class="button-energized" ng-click="editItem(id)">
                    Edit
                </ion-option-button>
                <ion-option-button class="button-assertive" ng-click="deleteItem(account, id)">
                    Delete
                </ion-option-button>
                <ion-reorder-button class="ion-navicon" on-reorder="moveItem(account, $fromIndex, $toIndex)"></ion-reorder-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>