<ion-view title={{AccountTitle}}>
    <ion-nav-buttons side="right">
        <button class="button button-clear button-positive customHeaderIcon customHeaderIconSmall" ng-click="saveAccount(currentItem)">Save</button>
    </ion-nav-buttons>
    <ion-content has-header="true">
        <div ng-hide="hideValidationMessage" class="cssSlideUp ng-hide">
            <div class="validationDiv">
                <p>
                    {{ validationMessage }}
                </p>
            </div>
        </div>
        <div class="ion-list">
            <ion-item class="item-icon-left item-icon-right form-group" ui-sref="app.pickaccountname">
                <i class="icon fa fa-clipboard placeholder-icon"></i>
                <input type="text" ng-model="currentItem.accountname" placeholder="Account Name" readonly>
                <i class="icon ion-chevron-right customChevronForm"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right form-group" ui-sref="app.pickaccountdate">
                <i class="icon fa fa-calendar placeholder-icon"></i>
                <input type="text" placeholder="Account Open Date" ng-model="currentItem.dateopen" readonly>
                <i class="icon ion-chevron-right customChevronForm"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right form-group" ui-sref="app.pickaccounttype">
                <i class="icon fa fa-university placeholder-icon"></i>
                <input type="text" placeholder="Account Type" ng-model="currentItem.accounttype" readonly>
                <i class="icon ion-chevron-right customChevronForm"></i>
            </ion-item>
            <div class="list list-inset" ng-show="inEditMode">
                <p class="moneyleashTip">Warning: Updating the begining balance will also affect the transaction associated with it!</p>
            </div>            
        </div>
    </ion-content>
</ion-view>