<ion-view title="Categories" ng-init="list()">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon customHeaderIcon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button-icon ion-plus customHeaderIcon customHeaderIconSmall" ng-click="createCategory()"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <ion-list>
            <div class="item item-divider mlSmallerFont CustomSubHeader">Income Categories</div>
            <ion-item class="mlcategories mlSmallerFont" ng-repeat="category in incomecategories | orderBy:'categorysort' " ng-click="handleSwipeAndTap($event, category)" href="#" ng-class="{mlindent: category.categoryparent !== ''}">
                <i class="icon ion-ios-pricetags-outline circleIconGreen"></i>
                {{ category.categoryname }}
                <ion-option-button class="button-assertive mlcategoriesbutton" ng-click="deleteCategory(category)">
                    Delete
                </ion-option-button>
            </ion-item>
            <div class="item item-divider mlSmallerFont CustomSubHeader">Expense Categories</div>
            <ion-item class="mlcategories mlSmallerFont" ng-repeat="category in expensecategories | orderBy:'categorysort' " ng-click="handleSwipeAndTap($event, category)" href="#" ng-class="{mlindent: category.categoryparent !== ''}">
                <i class="icon ion-ios-pricetags-outline circleIconRed"></i>
                {{ category.categoryname }}
                <ion-option-button class="button-assertive mlcategoriesbutton" ng-click="deleteCategory(category)">
                    Delete
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>