<ion-view title="Dashboard">
    <ion-nav-buttons side="right">
        <button class="button-icon ion-plus customHeaderIcon customHeaderIconSmall" ng-click="createTransaction('Add')"></button>
    </ion-nav-buttons>
    <ion-content has-header="true">
        <ion-list can-swipe="true">
            <ion-item ng-repeat="item in items">
                {{ item.id }}
                <ion-option-button class="button-energized" ng-click="editTransaction(item)">
                    &nbsp;&nbsp;Edit&nbsp;&nbsp;
                </ion-option-button>
                <ion-option-button class="button-assertive" ng-click="deleteTransaction(item)">
                    Delete
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>