<ion-view view-title="{{'FORGOT_PASSWORD' | translate}}" cache-view="false">
    <ion-nav-bar class="bar-stable">
        <h4>{{'FORGOT_PASSWORD' | translate}}</h4>
    </ion-nav-bar>
    <ion-content>
        <div class="list list-inset">
            <label class="item item-input">
                <input type="email" placeholder="{{'FORM_EMAIL' | translate}}" ng-model="user.email">
            </label>
        </div>
        <div class="padding">
            <button class="button button-block button-energized button-theme" ng-click="recoverPassword(user)" ng-enter="recoverPassword(user)" nav-clear>
                {{"RECOVER_PASSWORD" | translate}}
            </button>
        </div>
        <div class="row">
            <div class="col">
                <a href="#/login" class="mlLinksBlue">{{"SIGNIN" | translate}}</a>
            </div>
            <div class="col">
                <p class="text-center">
                    <a href="#/register" class="mlLinksBlue">{{"REGISTER" | translate}}</a>
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>