<ion-view view-title="Forgot Password" class="loginScreen">
    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    <ion-content class="has-header">
        <form id="ml-login" ng-submit="recoverPassword(user)">
            <button class="submit_forgot" ng-click="recoverPassword(user)"><i class="fa fa-lock"></i></button>
            <i class="fa fa-envelope-o inputUserIcon_forgot"></i>
            <input type="email" class="user" placeholder="email" ng-model="user.email" />
        </form>
    </ion-content>
</ion-view>