<ion-view view-title="Welcome" cache-view="false">
    <ion-header-bar class="bar-positive">
        <h1 class="title">Please Select Option</h1>
    </ion-header-bar>
    <ion-content has-header="true">
        <div class="padding">
            <button class="button button-block" ui-sref="housecreate">
                Create a House
            </button>
            <button class="button button-block" ui-sref="housejoin">
                Join a House
            </button>
        </div>
    </ion-content>
</ion-view>