<ion-view class="intro-view">
    <ion-content scroll="false">
        <div class="top-content row">
            <div class="col col-center">
                <h1><strong>MoneyLeash</strong></h1>
                <h4>Don't let your money run wild!</h4>
                <img ng-src="img/logo.png">
                <h4>Keep it on a leash...</h4>
            </div>
        </div>
        <div class="bottom-content row">
            <div class="col col-center">
                <button class="button button-block button-energized" ng-click="goToLogIn()">
                    Log In
                </button>
                <button class="sign-up button button-block button-stable" ng-click="goToSignUp()">
                    Sign Up
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
