<ion-view view-title="{{'SIGNIN' | translate}}" cache-view="false">
    <ion-nav-bar class="bar-stable">
        <h4>{{'SIGNIN' | translate}}</h4>
    </ion-nav-bar>
    <ion-content>
        <div class="list list-inset">
            <label class="item item-input">
                <input type="email" placeholder="{{'FORM_EMAIL' | translate}}" ng-model="user.email">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="{{'FORM_PASSWORD' | translate}}" ng-model="user.password">
            </label>
        </div>
        <div class="padding">
            <button class="button button-block button-energized button-theme" ng-click="doLogIn(user)" nav-clear>
                {{"SIGNIN" | translate}}
            </button>
        </div>
        <div class="row">
            <div class="col">
                <a href="#/forgot-password" class="mlLinksBlue">{{"REGISTER_FORGOTPASSWORD" | translate}}</a>
            </div>
            <div class="col">
                <p class="text-center">
                    <a href="#/register" class="mlLinksBlue">{{"REGISTER_DONTHAVEACCOUNT" | translate}}</a>
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>