<ion-view title="{{'PERSONALPROFILE' | translate}}" ng-init="getProfile()">
    <ion-nav-buttons side="right">
        <button class="button button-clear button-positive customHeaderSize" ng-click="saveProfile(member)">
            Save
        </button>
    </ion-nav-buttons>
    <ion-content has-header="true">
        <div class="ion-list">
            <ion-item class="item-icon-left item-icon-right form-group customMarginTop">
                <i class="icon fa fa-user placeholder-icon"></i>
                <input type="text" placeholder="First Name" ng-model="member.firstname">
            </ion-item>
            <ion-item class="item-icon-left item-icon-right form-group customMarginTop">
                <i class="icon fa fa-user placeholder-icon"></i>
                <input type="text" placeholder="Last Name" ng-model="member.lastname">
            </ion-item>
            <ion-item class="item-icon-left item-icon-right form-group customMarginTop">
                <i class="icon fa fa-envelope-o placeholder-icon"></i>
                <input type="text" placeholder="Email" ng-model="member.email" readonly>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right form-group customMarginTop">
                <i class="icon fa fa-calendar placeholder-icon"></i>
                <input type="text" placeholder="Date Created" ng-model="member.datecreated" readonly>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right form-group customMarginTop">
                <i class="icon fa fa-unlock placeholder-icon"></i>
                <input type="text" placeholder="Payment Plan" ng-model="member.paymentplan" readonly>
                <i class="icon ion-chevron-right customChevronForm"></i>
            </ion-item>
        </div>
    </ion-content>
</ion-view>