<ion-view title="{{'PERSONALPROFILE' | translate}}">
    <ion-content>
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="{{'FORM_FIRSTNAME' | translate}}" ng-model="user.firstname">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="{{'FORM_LASTNAME' | translate}}" ng-model="user.lastname">
            </label>
            <label class="item item-input">
                <input type="email" placeholder="{{'FORM_EMAIL' | translate}}" ng-model="user.email">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="{{'FORM_PASSWORD' | translate}}" ng-model="user.password">
            </label>
        </div>
        <div class="padding">
            <button class="button button-block button-energized button-theme" ng-click="save(user)" ng-enter=" save(user)" nav-clear>
                Save
            </button>
        </div>
</ion-content>
</ion-view>