<ion-view title="{{'PERSONALPROFILE' | translate}}" ng-init="getProfile()">
    <ion-nav-buttons side="right">
        <button class="button button-clear button-positive customHeaderSize" ng-click="saveProfile(member)">
            Save
        </button>
    </ion-nav-buttons>
    <ion-content has-header="true">
        <div class="list">
            <label class="item item-input">
                <span class="input-label">{{'FORM_FIRSTNAME' | translate}}</span>
                <input type="text" ng-model="member.firstname" />
            </label>
            <label class="item item-input">
                <span class="input-label">{{'FORM_LASTNAME' | translate}}</span>
                <input type="text" ng-model="member.lastname" />
            </label>
            <label class="item item-input">
                <span class="input-label">{{'FORM_EMAIL' | translate}}</span>
                <input type="text" ng-model="member.email" ng-disabled="true">
            </label>
            <label class="item item-input">
                <span class="input-label">Date Created</span>
                <input type="text" ng-model="member.datecreated" ng-disabled="true">
            </label>
            <label class="item item-input">
                <span class="input-label">Date Updated</span>
                <input type="text" ng-model="member.dateupdated" ng-disabled="true">
            </label>
        </div>
    </ion-content>
</ion-view>