<ion-view view-title="Photo" ng-init="uploadPhoto()" class="photoView">
    <ion-nav-buttons side="right">
        <button class="button button-clear button-positive customHeaderSize" ng-click="savePhoto()">Save</button>
    </ion-nav-buttons>
    <ion-content>
        <ion-list>
            <img ng-src="data:image/jpeg;base64,{{ currentItem.photo }}" width="100%" />
        </ion-list>
    </ion-content>
    <ion-footer-bar align-title="left" class="PhotoFooter">
        <div class="row center">
            <div class="col footerRow">&nbsp;</div>
            <div class="col footerRow">&nbsp;</div>
            <div class="col footerRow">
                <button class="button button-clear button-positive customHeaderSize" ng-click="removePhoto()">Remove</button>
            </div>
        </div>
    </ion-footer-bar>
</ion-view>