<ion-view view-title="Select Category">
    <ion-nav-buttons side="right">
        <button class="button-icon ion-plus customHeaderIcon customHeaderIconSmall" ng-click="createCategory()"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <div class="item item-divider mlSmallerFont CustomSubHeader">{{ categoriesDividerTitle }}</div>
        <ion-radio-fix ng-repeat="item in TransactionCategoryList | orderBy:'categorysort'"
                       ng-value="item.categoryname"
                       ng-change="categorychanged(item)"
                       ng-model="currentItem.categoryname"
                       class="customItemList mlSmallerFont">
            <div id="pickCategoryIcons" ng-class="{pickCategoryIndent: item.categoryparent !== ''}">
                <ul>
                    <li><i class="icon ion-ios-pricetags-outline" ng-class="{circleIconRed: item.categorytype == 'Expense', circleIconGreen: item.categorytype == 'Income'}"></i>{{ item.categoryname }}</li>
                </ul>
            </div>
        </ion-radio-fix>
    </ion-content>
</ion-view>