<ion-popover-view class="customTransactionsPopover">
    <ion-content>
        <div class="list">            
            <a class="item" href="#" ng-click="showSorting(SortingIsEnabled)">
                <i class="fa fa-bars"></i>&nbsp;&nbsp;&nbsp;Sort Transactions
            </a>
            <a class="item" href="#" ng-click="showFilters()">
                <i class="fa fa-filter"></i>&nbsp;&nbsp;&nbsp;Show Filters
            </a>
            <a class="item" href="http://showcase.ionicframework.com/" target="_blank">
                Showcase
            </a>
            <a class="item" href="http://ionicframework.com/submit-issue/" target="_blank">
                Submit an Issue
            </a>
            <a class="item" href="https://github.com/driftyco/ionic" target="_blank">
                Github Repo
            </a>
        </div>
    </ion-content>
</ion-popover-view>