<ion-view class="settings-view" title="Settings">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon customHeaderIcon customHeaderIconSize"></button>
    </ion-nav-buttons>
    <ion-content>
        <ion-list>
            <div class="item item-divider SectionHead">GENERAL SETTINGS</div>
            <ion-item ng-click="showPersonalProfile($event)" href="#" class="item-icon-right">
                <div class="customPaddingSettings">
                    Personal Profile
                    <i class="icon ion-chevron-right"></i>
                </div>
            </ion-item>
            <ion-item ng-click="showGroupProfile($event)" href="#" class="item-icon-right">
                <div class="customPaddingSettings">
                    Group Profile
                    <i class="icon ion-chevron-right"></i>
                </div>
            </ion-item>
            <div class="item item-divider SectionHead">ACCOUNT SETTINGS</div>
            <ion-item ng-click="openAccountTypes($event)" href="#" class="item-icon-right">
                <div class="customPaddingSettings">
                    Account Types
                    <i class="icon ion-chevron-right"></i>
                </div>
            </ion-item>
            <div class="item item-divider SectionHead">OTHER SETTINGS</div>
            <ion-item ng-click="showAbout($event)" href="#" class="item-icon-right">
                <div class="customPaddingSettings">
                    About
                    <i class="icon ion-chevron-right"></i>
                </div>
            </ion-item>
            <div class="item item-divider"></div>
            <a class="item logout-option" ng-click="showLogOutMenu()">
                Logout
            </a>
            <div class="item item-divider"></div>
            <a class="button button-full button-assertive" ng-click="deleteAllData()">
                Delete All Data
            </a>
        </ion-list>
    </ion-content>
</ion-view>
