<ion-view class="settings-view" title="Settings">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon customHeaderIcon customHeaderIconSize"></button>
    </ion-nav-buttons>
    <ion-content>
        <ion-list>
            <div class="item item-divider SectionDivider CustomSubHeader">General Settings</div>
            <a class="item item-icon-left item-icon-right customItemSize" ui-sref="app.personalprofile">
                <i class="icon fa fa-user"></i>
                Personal Profile
                <i class="icon ion-chevron-right"></i>
            </a>
            <div class="item item-divider SectionDivider CustomSubHeader">Account Settings</div>
            <a class="item item-icon-left item-icon-right customItemSize" ui-sref="app.accounttypes">
                <i class="icon fa fa-file-text"></i>
                Account Types
                <i class="icon ion-chevron-right"></i>
            </a>
            <a class="item item-icon-left item-icon-right customItemSize" ui-sref="app.accountpreferences">
                <i class="icon fa fa-thumb-tack"></i>
                Account Preferences
                <i class="icon ion-chevron-right"></i>
            </a>
            <div class="item item-divider SectionDivider CustomSubHeader">Other Settings</div>
            <a class="item item-icon-left item-icon-right customItemSize" ui-sref="app.about">
                <i class="icon fa fa-thumb-tack"></i>
                About
                <i class="icon ion-chevron-right"></i>
            </a>
        </ion-list>
    </ion-content>
</ion-view>
