<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-positive">
            <ion-nav-back-button>
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon customHeaderIcon customHeaderIconSize" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-header-bar class="bar-menu">
            <h1 class="HeaderTitle">Money Leash v1.0</h1>
        </ion-header-bar>
        <ion-content>
            <ion-list>
                <ion-item class="item-icon-left item-icon-right" nav-clear menu-close ui-sref="app.accounts">
                    <div class="customPaddingMenuItem">
                        <i class="icon ion-ios-browsers-outline icon-left-smaller"></i>
                        Accounts
                        <i class="icon ion-chevron-right customChevronMenu"></i>
                    </div>
                </ion-item>
                <ion-item class="item-icon-left item-icon-right" nav-clear menu-close ui-sref="app.categories">
                    <div class="customPaddingMenuItem">
                        <i class="icon ion-ios-pricetags-outline icon-left-smaller"></i>
                        Categories
                        <i class="icon ion-chevron-right customChevronMenu"></i>
                    </div>
                </ion-item>
                <ion-item class="item-icon-left item-icon-right" nav-clear menu-close ui-sref="app.payees">
                    <div class="customPaddingMenuItem">
                        <i class="icon ion-ios-flame-outline icon-left-smaller"></i>
                        Payees
                        <i class="icon ion-chevron-right customChevronMenu"></i>
                    </div>
                </ion-item>
                <div ng-hide="isFree" class="ng-hide">
                    <ion-item class="item-icon-left item-icon-right" nav-clear menu-close ui-sref="app.recurring">
                        <div class="customPaddingMenuItem">
                            <i class="icon ion-ios-loop icon-left-smaller"></i>
                            Recurring
                            <i class="icon ion-chevron-right customChevronMenu"></i>
                        </div>
                    </ion-item>
                    <ion-item class="item-icon-left item-icon-right" nav-clear menu-close ui-sref="app.budgets">
                        <div class="customPaddingMenuItem">
                            <i class="icon ion-ios-color-wand-outline icon-left-smaller"></i>
                            Budgets
                            <i class="icon ion-chevron-right customChevronMenu"></i>
                        </div>
                    </ion-item>
                </div>
                <ion-item class="item-icon-left item-icon-right" nav-clear menu-close ui-sref="app.settings">
                    <div class="customPaddingMenuItem">
                        <i class="icon ion-ios-gear-outline icon-left-smaller"></i>
                        Settings
                        <i class="icon ion-chevron-right customChevronMenu"></i>
                    </div>
                </ion-item>
                <ion-item class="item-icon-left" nav-clear menu-close ng-click="showLogOutMenu()">
                    <div class="customPaddingMenuItem">
                        <i class="icon ion-ios-undo-outline"></i>
                        Logout
                    </div>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
