<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-positive">
            <ion-nav-back-button>
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon customHeaderIcon customHeaderIconSize" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-header-bar class="bar-menu">
            <h1 class="HeaderTitle">Money Leash v{{ appversion }}</h1>
        </ion-header-bar>
        <ion-content>
            <ion-list>
                <a class="item item-icon-left item-icon-right customItemSize" nav-clear menu-close ui-sref="app.accounts">
                    <i class="icon ion-ios-browsers-outline"></i>
                    Accounts
                    <i class="icon ion-chevron-right"></i>
                </a>
                <a class="item item-icon-left item-icon-right customItemSize" nav-clear menu-close ui-sref="app.categories">
                    <i class="icon ion-ios-pricetags-outline"></i>
                    Categories
                    <i class="icon ion-chevron-right"></i>
                </a>
                <a class="item item-icon-left item-icon-right customItemSize" nav-clear menu-close ui-sref="app.payees">
                    <i class="icon ion-ios-people-outline"></i>
                    Payees
                    <i class="icon ion-chevron-right"></i>
                </a>
                <a class="item item-icon-left item-icon-right customItemSize" nav-clear menu-close ui-sref="app.recurring">
                    <i class="icon ion-ios-loop "></i>
                    Recurring
                    <i class="icon ion-chevron-right"></i>
                </a>
                <a class="item item-icon-left item-icon-right customItemSize" nav-clear menu-close ui-sref="app.budgets">
                    <i class="icon ion-ios-color-wand-outline"></i>
                    Budgets
                    <i class="icon ion-chevron-right"></i>
                </a>
                <a class="item item-icon-left item-icon-right customItemSize" nav-clear menu-close ui-sref="app.settings">
                    <i class="icon ion-ios-gear-outline"></i>
                    Settings
                    <i class="icon ion-chevron-right"></i>
                </a>
                <a class="item item-icon-left item-icon-right customItemSize" nav-clear menu-close ng-click="showLogOutMenu()">
                    <div class="menuLogout">
                        <i class="icon ion-ios-undo-outline"></i>
                        Logout
                        <i class="icon ion-chevron-right"></i>
                    </div>
                </a>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
