<ion-view view-title="{{'SIGNIN' | translate}}" cache-view="false">
    <ion-nav-bar class="bar-stable">
        <h4>{{'SIGNIN' | translate}}</h4>
    </ion-nav-bar>
    <ion-content>
        <div class="list list-inset">
            <label class="item item-input">
                <span class="input-label">{{"FORM_FIRSTNAME" | translate}}</span>
                <input type="text" ng-model="user.firstname">
            </label>
            <label class="item item-input">
                <span class="input-label">{{"FORM_SURNAME" | translate}}</span>
                <input type="text" ng-model="user.surname">
            </label>
            <label class="item item-input">
                <span class="input-label">{{"FORM_EMAIL" | translate}}</span>
                <input type="email" ng-model="user.email">
            </label>
            <label class="item item-input">
                <span class="input-label">{{"FORM_PASSWORD" | translate}}</span>
                <input type="password" ng-model="user.password">
            </label>
        </div>
        <div class="padding">
            <button class="button button-block button-energized button-theme" ng-click="createUser(user)" nav-clear>
                {{"REGISTER" | translate}}
            </button>
            <p class="text-center">
                <a href="#/login" class="mlLinksBlue">{{"REGISTER_ALREADYHAVEACCOUNT" | translate}}</a>
            </p>
        </div>
    </ion-content>
</ion-view>