<ion-view title={{AccountTitle}} ng-init="list()">
    <ion-nav-buttons side="right">
        <button class="button-icon fa fa-search customHeaderIcon customHeaderIconSmall" ng-click="showSearch()"></button>
        <button class="button-icon ion-plus customHeaderIcon customHeaderIconSmall" ng-click="createTransaction('Add')"></button>
    </ion-nav-buttons>
    <div class="bar bar-subheader CustomSubHeader">
        <div class="row center">
            <div class="col balancesRow colBorder">Today's&nbsp;Balance</div>
            <div class="col balancesRow colBorder">Current&nbsp;Balance <span>{{ currentBalance | currency }}</span></div>
            <div class="col balancesRow">Cleared&nbsp;Balance <span>{{ clearedBalance | currency }}</span></div>
        </div>
    </div>
    <ion-content class="has-header has-subheader">
        <ion-list can-swipe="listCanSwipe">
            <div collection-repeat="transaction in transactions | reverselist | filter:searchText | groupByDayMonthYear" divider-collection-repeat class="ml_list">
                <ion-item class="item-icon-right" ng-class="{transactionIsCleared: transaction.iscleared == true}" href="#" ng-click="handleSwipeAndTap($event, transaction)">
                    <div class="row">
                        <div class="col-50 customTransDesc">
                            <span>
                                {{transaction.payee}}
                                <small>
                                    <div id="transactionIcons">
                                        <ul>
                                            <li><i class="fa fa-tag"></i>{{transaction.category}}</li>
                                            <li><i ng-class="{'fa fa-file-text-o': transaction.notes.length > 0}"></i></li>
                                            <li><i ng-class="{'fa fa-repeat': transaction.isrecurring == true }"></i></li>
                                            <li><i ng-class="{'fa fa-camera': transaction.photo.length > 0}"></i></li>
                                            <li><i ng-class="{'fa fa-exchange': transaction.istransfer == true }"></i></li>
                                        </ul>
                                    </div>
                                </small>
                            </span>
                        </div>
                        <div class="col-50 right customAccAmt" ng-class="{textRed: transaction.type == 'Expense', textGreen: transaction.type == 'Income'}">
                            <span>
                                {{transaction.amount | currency}}
                                <small>
                                    {{transaction.runningbal | currency}}
                                </small>
                            </span>
                            <input class="toggleTransactionCleared" type="checkbox" ng-model="transaction.iscleared" ng-change="transactions.$save(transaction)">
                        </div>
                    </div>
                    <ion-option-button class="button-energized" ng-click="editTransaction(transaction)">
                        &nbsp;&nbsp;Edit&nbsp;&nbsp;
                    </ion-option-button>
                    <ion-option-button class="button-assertive" ng-click="deleteTransaction(transaction)">
                        Delete
                    </ion-option-button>
                </ion-item>
            </div>
        </ion-list>
    </ion-content>
</ion-view>