<ion-view title={{TransactionTitle}}>
    <ion-nav-buttons side="right">
        <button class="button button-clear button-positive customHeaderSize" ng-click="saveTransaction(currentItem)">Save</button>
    </ion-nav-buttons>
    <ion-content has-header="true">
        <div class="ion-list">
            <label class="item item-input moneyleashLabel" ng-click="openModal()">
                <i class="icon fa fa-clipboard placeholder-icon"></i>
                <label placeholder="Transaction Type">{{currentItem.type}}</label>
            </label>
            <label class="item item-input moneyleashLabel">
                <i class="icon fa fa-user placeholder-icon"></i>
                <input type="text" placeholder="Payee" ng-model="currentItem.payee">
            </label>
            <label class="item item-input moneyleashLabel">
                <i class="icon fa fa-thumb-tack placeholder-icon"></i>
                <input type="text" placeholder="Category" ng-model="currentItem.category">
            </label>
            <label class="item item-input moneyleashLabel">
                <i class="icon fa fa-money placeholder-icon"></i>
                <input type="text" placeholder="Amount" ng-model="currentItem.amount" valid-number>
            </label>
            <label class="item item-input moneyleashLabel">
                <i class="icon fa fa-calendar placeholder-icon"></i>
                <ionic-datepicker idate="currentItem.date">
                    <button class="moneyleashDatePicker">{{ currentItem.date | date:'MMMM dd, yyyy' }}</button>
                </ionic-datepicker>
            </label>
            <label class="item item-input moneyleashLabel">
                <i class="icon fa fa-file-text placeholder-icon"></i>
                <input type="text" placeholder="Notes" ng-model="currentItem.notes">
            </label>
            <label class="item item-input moneyleashLabel">
                <i class="icon fa fa-camera placeholder-icon"></i>
                <input type="text" placeholder="Photo" ng-model="currentItem.photo">
            </label>
        </div>
    </ion-content>
</ion-view>