<ion-view title={{AccountTitle}} ng-init="list()">
    <ion-nav-buttons side="right">
        <button class="right button button-icon icon ion-plus customHeaderIcon" ng-click="createTransaction('Add')"></button>
        <button class="button button-icon ion-ios-more customHeaderIcon customHeaderIconSize" ng-click="openPopover($event, false)"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <ion-list can-swipe="listCanSwipe" show-reorder="SortingIsEnabled">
            <ion-item ng-repeat="(id, transaction) in transactions | reverse" itemid="transaction" ng-click="handleSwipeAndTap($event, transaction)" href="#" class="item-icon-right" ng-class="{transactionIsCleared: transaction.iscleared == true}">
                <div class="row">
                    <div class="col-50 customTransDesc">
                        <span>
                            {{transaction.payee}}
                            <small>
                                <div id="transactionIcons">
                                    <ul>
                                        <li>{{transaction.date | date:'MM/dd/yyyy'}}</li>
                                        <li><i class="fa fa-thumb-tack"></i>{{transaction.category}}</li>
                                    </ul>
                                </div>
                            </small>
                        </span>
                    </div>
                    <div class="col-50 right customAccAmt" ng-class="{amountRed: transaction.type == 'expense', amountGreen: transaction.type == 'income'}">
                        <span>
                            {{transaction.amount | currency}}
                            <small>
                                {{transaction.runningbal | currency}}
                            </small>
                        </span>
                        <input class="toggleTransactionClear" type="checkbox" ng-model="transaction.iscleared" ng-change="transactions.$save(transaction)">
                    </div>
                </div>
                <ion-option-button class="button-stable" ng-click="showMoreOptionsSwipe()">
                    &nbsp;More&nbsp;
                </ion-option-button>
                <ion-option-button class="button-energized" ng-click="editTransaction($event, transaction)">
                    &nbsp;&nbsp;Edit&nbsp;&nbsp;
                </ion-option-button>
                <ion-option-button class="button-assertive" ng-click="deleteTransaction(transaction, id)">
                    Delete
                </ion-option-button>
                <ion-reorder-button class="ion-navicon" on-reorder="moveItem(transaction, $fromIndex, $toIndex)"></ion-reorder-button>
            </ion-item>
        </ion-list>
    </ion-content>
    <div class="bar bar-footer bar-stable">
        <footer id="footer">
            <span id="todo-count">
                <strong>{{clearedCount}}</strong>
                <ng-pluralize count="clearedCount" when="{ one: 'item cleared', other: 'items cleared' }"></ng-pluralize>
            </span>
            <ul id="filters">
                <li>
                    <a ng-class="{selected: location.path() == '/'} " href="#/">All</a>
                </li>
                <li>
                    <a ng-class="{selected: location.path() == '/active'}" href="#/active">Active</a>
                </li>
                <li>
                    <a ng-class="{selected: location.path() == '/completed'}" href="#/completed">Cleared</a>
                </li>
            </ul>
        </footer>
</div>
</ion-view>