<ion-view title={{AccountTitle}} ng-init="list()">
    <ion-nav-buttons side="right">
        <button class="button-icon fa fa-search customHeaderIcon customHeaderIconSmall extraMarginRight" ng-click="showFilterBar()"></button>
        <button class="button button-icon ion-ios-more customHeaderIcon" on-icon="button button-icon ion-ios-more" off-icon="button button-clear button-positive customHeaderSize" ng-click="showSorting(SortingIsEnabled)" icon-switcher>{{ reorderBtnText }}</button>
    </ion-nav-buttons>
    <div class="bar bar-subheader CustomSubHeader">
        <div class="row center">
            <div class="col balancesRow colBorder"><span>Total / Cleared</span><span><strong>{{ totalCount }} / {{ clearedCount }}</strong></span></div>
            <div class="col balancesRow colBorder"><span>Current Balance</span><span><strong>{{ currentBalance | currency }}</strong></span></div>
            <div class="col balancesRow"><span>Cleared Balance</span><span><strong>{{ clearedBalance | currency }}</strong></span></div>
        </div>
    </div>
    <ion-content class="has-header has-subheader">
        <ion-list can-swipe="listCanSwipe" show-reorder="SortingIsEnabled">
            <div ng-repeat="transaction in transactions | orderBy:'-date' | groupByDayMonthYear" divider-collection-repeat>
                <ion-item class="item-icon-right item item-complex item-right-editable {{ transaction.ClearedClass }}" href="#" ng-click="handleSwipeAndTap($event, transaction)">
                    <div class="row">
                        <div class="col-50 customTransDesc">
                            <span>
                                {{ transaction.payee }}
                                <small>
                                    <div id="transactionIcons">
                                        <ul>
                                            <li><i class="fa fa-thumb-tack"></i>{{ transaction.category }}</li>
                                            <li><i ng-class="{'fa fa-file-text-o': transaction.notes.length > 0}"></i></li>
                                            <li><i ng-class="{'fa fa-repeat': transaction.isrecurring == true }"></i></li>
                                            <li><i ng-class="{'fa fa-camera': transaction.photo.length > 0}"></i></li>
                                            <li><i ng-class="{'fa fa-exchange': transaction.istransfer == true }"></i></li>
                                        </ul>
                                    </div>
                                </small>
                            </span>
                        </div>
                        <div class="col-50 right customTransAmt {{ transaction.type }}">
                            <span>
                                {{ transaction.amount | currency }}
                                <small>
                                    {{ transaction.runningbal | currency }}
                                </small>
                            </span>
                            <input class="toggleTransactionCleared" type="checkbox" ng-model="transaction.iscleared" ng-change="clearTransaction(transaction)">
                        </div>
                    </div>
                    <ion-option-button class="button-stable" ng-click="moreOptions()">
                        &nbsp;More&nbsp;
                    </ion-option-button>
                    <ion-option-button class="button-assertive" ng-click="deleteTransaction(transaction)">
                        Delete
                    </ion-option-button>
                    <ion-reorder-button class="ion-navicon" on-reorder="moveItem(transaction, $fromIndex, $toIndex)"></ion-reorder-button>
                </ion-item>
            </div>
        </ion-list>
    </ion-content>
    <ion-footer-bar align-title="left" class="CustomFooter">
        <div class="row center">
            <div class="col footerRow iconBackArrow">
                <i class="ion-ios-arrow-thin-left" ng-click="$ionicGoBack()"></i>
            </div>
            <div class="col footerRow iconCircle">
                <i class="fa fa-plus-circle" ng-click="createTransaction('Add')"></i>
            </div>
            <div class="col footerRow"><span></span></div>
        </div>
    </ion-footer-bar>
</ion-view>