@import url("https://fonts.googleapis.com/css?family=PT+Sans");
@import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700");
@import url("font-awesome.min.css");

/* Intro Page */
.slider-slide {
    background-color: #1D7AC1;
}
.slidePadding {
    margin-top: 60px;
}
.introHeading {
    margin-top: 10%;
    text-align: center;
    font: 80px 'PT Sans', sans-serif;
    color: #fff;
}
.introHeading h1 {
    margin-bottom: 5%;
    color: #fff;
}
.logo {
    position: relative;
    display: block;
    margin: 75px auto auto auto;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    background: #F57D00;
}
.logo span {
    font: 70px 'PT Sans', sans-serif;
    font-weight: bolder;
    color: #fff;
    position: absolute;
    top: 3px;
    left: 31px;
}
.tagline {
    text-align: center;
    color: #FFF;
    font-size: 18px;
}
.background-dark {
  background: #212121;
}
.button-intro {
    margin-top: 0;
    margin-right: -30px;
    margin-bottom: -15px;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    text-transform: uppercase;
    padding: 13px 0;
    text-decoration: none;
    font-weight: bold;
}
.button-intro.button-dark {
    background: #212121;
    color: #fff; 
}
.button-intro.button-orange {
    background: #F57D00;
    color: #fff;
}
.button-intro.button-positive {
    background: #f8d50e;
    color: #000;
}
.loginScreen {
    border: solid 10px transparent;
    background-color: #1D7AC1;
}
.bar.bar-dark.bar-footer {
    padding: 0;
}

/*******************/
/*  INTRO SCREEN   */

.background-intro.pane{
    background-color: #1D7AC1;
    /*background-image: url('../img/moneyleash_bg.png');
    background-size: cover;
    background-position: center;*/    
}
.mlLinksBlue {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}
.mlLinksGray {
    text-decoration: none;
    color: #fff;
}
.intro-view, .login-view, .signup-view, .forgot-password-view {
    background-color: white !important;
}
    .intro-view ion-content:before, .login-view ion-content:before, .signup-view ion-content:before, .forgot-password-view ion-content:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
        opacity: 1.0;
        display: block;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -webkit-filter: blur(1px);
        -moz-filter: blur(1px);
        -o-filter: blur(1px);
        -ms-filter: blur(1px);
        filter: blur(1px);
    }
    .intro-view .top-content {
        height: 75%;
        text-align: center;
    }
        .intro-view .top-content h1 {
            color: #ff8000;
            font-family: "Segoe UI";
        }
    .intro-view .bottom-content {
        height: 25%;
        padding-top: 5px;
        margin-top: 0;
    }
        .intro-view .bottom-content .button {
            border: none;
            color: #fff;
            font-weight: bolder;
            font-size: 20px;
            line-height: 20px;
        }
        .intro-view .bottom-content .login.button {
            background-color: rgba(12, 91, 224, 1.00);
        }
        .intro-view .bottom-content .sign-up.button {
            background-color: rgba(164, 164, 164, 1.0);
        }

.signup-view {
    background-color: #787878 !important;
}

    .signup-view .row {
        height: 100%;
    }

    .signup-view .sign-up-container {
        margin-bottom: 0;
    }

    .signup-view .bottom-content {
        padding-top: 0;
        border: none;
    }

        .signup-view .bottom-content .button {
            margin: 0;
            font-weight: bold;
        }

    .signup-view .alternative-actions {
        margin: 0 10px;
    }

        .signup-view .alternative-actions .button {
            padding: 0;
            font-size: 14px;
        }

.forgot-password-view {
    background-color: #787878 !important;
}

    .forgot-password-view .row {
        height: 100%;
    }

    .forgot-password-view .forgot-password-container {
        margin-bottom: 0;
    }

    .forgot-password-view .bottom-content {
        padding-top: 0;
        border: none;
    }

        .forgot-password-view .bottom-content .button {
            margin: 0;
            font-weight: bold;
        }

    .forgot-password-view .alternative-actions {
        margin: 0 10px;
    }

        .forgot-password-view .alternative-actions .button {
            padding: 0;
            font-size: 14px;
        }

        .forgot-password-view .alternative-actions .sign-up {
            float: right;
        }

.logout-option {
    text-align: center;
}

.settings-view {
    background-color: #EAEAEA !important;
}

/* List Item Font Size */
.item {
    font-size: 20px;
}
.SectionDivider {
    font-weight: normal;
    font: 13px 'PT Sans', sans-serif;
    padding-top: 8px;
    padding-bottom: 3px;
    min-height: 35px;
    /*background-color: #D3EAF0;*/
}
.SectionDividerActive {
    color: #FF5E2E;
}
/* Action Sheet */
.action-sheet-title {
    font-size: 18px;
    color: #505050;
}
.action-sheet .button {
    font: 18px 'PT Sans', sans-serif;
}
.button.button-dark.button-clear {
    font-size: 16px;
    min-height: 36px;
    line-height: 36px;
}
.button-white {
    color: #fff;
}
/* ionicPopup */
.popup-body {
    padding: 10px;
    overflow: hidden;
}
.popup-buttons .button{
    border-color: #e67300;
    background-color: #ff8000;
}
/* Spin animation for ion-loop */
.spinner svg {
  width: 28px;
  height: 28px;
}

/********************/
/* LEFT MENU SCREEN */
.customPaddingMenuItem {
    padding: 0 40px 0 13px;
    text-shadow: 2px 2px #eeeeee;
    font: 20px 'PT Sans Narrow', sans-serif;
}
/* Menu Icons and Chevron Icons */
.bar-menu {
    background-color: #2E5B70;
    width: 100%;
    padding: 0;
}
.bar-menu .HeaderTitle {
    text-align: left;
    font-size: 17px;
    padding-left: 15px;
    padding-top: 12px;
    color: #fff;
    font-weight: bolder;
}
.bar.bar-menu .title {
    color: #ff8000;
    font-weight: bolder;
}
.item-icon-left.item-icon-right .icon:first-child {
    right: 0;
}
.item-icon-right .icon {
    right: 8px;
}
.item-icon-left .icon:before {
    display: block;
    width: 25px;
    text-align: center;
    padding-left: 9px;
    text-shadow: 2px 2px #eeeeee;
}
.icon-left-smaller:before {
    font-size: 24px;
    font-weight: normal;
}
.ion-chevron-right:before {
    color: #31C0E6;
    font-size: 14px;
}
.customChevronMenu:before {
    color: #31C0E6;
}
/* Menu item text style */
.item-complex.item-icon-right .item-content {
    padding-right: 40px;
    font-weight: normal;
    color: #172F39;
}
.circleIconBlue {
    font-size: 16px;
    font-weight: bold;
    background: #31C0E6;
    color: #fff;
    padding: 0 0 0 2px;
    border-radius: 50%;
    margin-right: 5px;
    margin-top: 13px;
    width: 35px;
    max-height: 35px;
}
/* Menu item padding */
.item-complex.item-icon-left .item-content {
    padding: 14px 49px 14px 40px;
}
.item-icon-left {
    padding-left: 40px;
}
.bar.bar-subheader.CustomSubHeader {
  padding-top: 3px;
}
.CustomSubHeader {
    background-color: #D3EAF0;
}
.customHeaderIcon:before {
    color: #31C0E6;
    font-size: 32px;
}
.customHeaderIconSmall:before {
    font-size: 20px;
}
.extraMarginRight {
    margin-right: 10px;
}
.bar .button.back-button {
    color: #31C0E6;
}
button.customHeaderSize {
    font-size: 20px;
}
.subTitle {
    font: 16px 'PT Sans', sans-serif;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
.button.button-positive.button-clear {
    color: #31C0E6;
}

/***********************************/
/* ACCOUNTS & TRANSACTIONS SCREENS */

.row {
    padding: 0;
}
.col {
    padding: 0;
}
.colBorder {
    border-right: 1px solid #AED9E3;
}
.AccountScreenPadding {
    padding-top: 5px;
    padding-bottom: 5px;
}
.right {
    text-align: right;
}
.center {
    text-align: center;
}
.balancesRow {
    font-weight: bold;
    font: 13px 'PT Sans Narrow', sans-serif;
}
.balancesRow span {
    display: block;
    font-weight: normal;
    font-size: 15px;
}
.CustomFooter {
    background-color: #fff;
}
.customFooterIcon:before {
    color: #fff;
    text-shadow: 0 -1px 0 #bfbfbf; 
}
.footerRow i {
    margin-top: -43px;
}
.iconCircle i:before {
    font-weight: bold;
    font-size: 75px;
    color: #00A2E8;
}
.iconPhoto i:before {
    font-weight: bold;
    font-size: 35px;
    color: #31C0E6;
}
.photoView {
    background-color: #000;
}
.PhotoFooter {
    background-color: transparent;
    border-top-width: 0;
}
.iconBackArrow i:before {
    font-weight: bold;
    font-size: 35px;
}
.footerRow span {
    display: block;
    font-weight: normal;
    font-size: 15px;
}
.netWorthRow span {
    margin-top: 8px;
    display: block;
    font-weight: normal;
    font: 18px 'PT Sans Narrow', sans-serif;
}
.customAccDesc {
    text-align: left;
    height: 37px;
    font-weight: bold;
}
.customAccDesc span small {
    position: absolute;
    font: 13px 'PT Sans Narrow', sans-serif;
    top: 37px;
    left: 16px;
    color: #A0A0A0;
    font-weight: normal;
}
.customTransDesc {
    font-weight: bold;
}
.customTransDesc span small {
    position: absolute;
    font: 13px 'PT Sans Narrow', sans-serif;
    top: 35px;
    left: 16px;
    color: #A0A0A0;
    font-weight: normal;
}
.customAccAmt {
    height: 37px;
    font-weight: bold;
    padding-right: 20px;
    font-size: 18px;
}
.customAccAmt span {
    position: relative;
    top: 8px;
}
.customAccAmt span small {
    position: absolute;
    font: 16px 'PT Sans Narrow', sans-serif;
    top: 20px;
    right: 0;
    color: #A0A0A0;
    font-weight: bold;
}
.customTransAmt {
    height: 37px;
    font-weight: bold;
    padding-right: 20px;
    font-size: 18px;
}
.customTransAmt span {
    position: relative;
    top: 1px;
}
.customTransAmt span small {
    position: absolute;
    font: 16px 'PT Sans Narrow', sans-serif;
    top: 20px;
    right: 0;
    color: #A0A0A0;
    font-weight: bold;
}
.textRed {
    color: #CE1B31;
}
.Expense {
    color: #CE1B31;
}
.textBlack {
    color: #000;
}
.textGreen {
    color: #1AAC57;
}
.Income {
    color: #1AAC57;
}
.item-right-edit {
    width: 60px;
}
#transactionIcons ul {
    margin-top: 5px;
}
#transactionIcons ul li:first-child {
    padding-right: 8px;
}
#transactionIcons ul li {
    list-style-type: none;
    display: inline;
    color: #8C8C8C;
    font: 16px 'PT Sans', sans-serif;
}
#transactionIcons ul li > i {
  padding-right: 3px;
  font-size: 13px;
}
.formLabelBold {
    font-weight: bold;
}
.transactionIsCleared .item-content {
    background-color: #eee;
    -webkit-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
    transition: all linear 0.5s;
}
.item-icon-right .item-content {
    -webkit-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
    transition: all linear 0.5s;
}
.item-toggle-option .toggle {
    position: absolute;
    top: 8px;
    right: 16px;
    z-index: 3;
}
.toggleTransactionCleared {
	text-align: center;
	width: 52px;
	height: auto;
	position: absolute;
	margin: auto 0;
    margin-left: auto;
    margin-right: auto;
	border: none;
	-webkit-appearance: none;
    -moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
    background-color: transparent;
}
.toggleTransactionCleared:after {
	content: '\f00c';
	line-height: 43px;
	font-size: 17px;
	color: #ebebeb;
	text-shadow: 0 -1px 0 #bfbfbf;
    font-family: FontAwesome;
}
.toggleTransactionCleared:checked:after {
	color: #44B449;
	text-shadow: 0 0 0 #669991;
	bottom: 1px;
	position: relative;
}
.customTransactionsPopover {
    
}
.popover a.item {
    border-top: 0;
    font: 16px 'PT Sans', sans-serif;
    height: 40px;
}
.search-wrapper-light {
    border-bottom: 2px solid rgba(255,255,255,0.5);
    background: none;
    border-radius: 0;
    margin-left: 5px;
    margin-right: 5px;
}
.search-wrapper-light input, .search-wrapper-light input::-webkit-input-placeholder {
    color: #ffffff;
}
.button.button-stable {
    background-color: #b2b2b2;
    color: #fff;
}

/*******************/
/* SETTINGS SCREEN */
.customPaddingSettings {
    padding: 0 40px 0 11px;
}
.customPaddingSettingsItem {
    padding: 0 40px 0 8px;
    font: 17px 'PT Sans Narrow', sans-serif;
}
.customPaddingSettingsItem i:before {
    font-size: 18px;
}
/*******************/
/*  ABOUT SCREEN   */
.slider { height: 100%; text-align: center }
.scroll { height: 100%; }

/*******************/
/*   FORM STYLES   */
.moneyleashLabel {
    padding: 0;
}
.placeholder-icon:first-child {
    padding-right: 0;
}
.placeholder-icon {
    color: #919191;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}
.icon-bg {
    background:#eeeeee;
}
.item-input .icon {
    min-width: 65px;
}
.moneyleashLabel input, label {
    margin-left: 10px;
    font-size: 20px;
    margin-top: 5px;
}
.moneyleashLabel button {
    margin-left: 5px;
}
.moneyleashLabel div {
    padding: 5px;
    width: 85%;
    border: 0;
}
.moneyleashLabel div div {
    padding: 5px;
    width: 25%;
    border: 0;
}
.moneyleashLabel div label {
    float: right;
}
.moneyleashDatePicker {
  font-size: 20px;
  min-height: 36px;
  line-height: 36px;
  border-color: transparent;
  background: none;
  box-shadow: none;
  color: #444;
}
.moneyleashSelectBox {
    padding: 0;
}
.moneyleashSelectBox input {
    margin-top: 5px;
}
.moneyleashSelectBox input[disabled], select[disabled], textarea[disabled], input[readonly]:not(.cloned-text-input), textarea[readonly]:not(.cloned-text-input), select[readonly] {
  background-color: #fff;
  cursor: not-allowed;
}
.ml-login-input input {
    font-size: 20px;
}
.moneyleashTip {
    font-size: 14px;
}
.ng-hide-add, 
.ng-hide-remove {
    /* ensure visibility during the transition */
    display: block !important; /* yes, important */
}

/* Form styles */
.form-group {
    height: 50px;
}
.form-group img {
    margin-left: 40px;
    margin-top: -12px;
    border: 0;
}
.form-group i {
    background:#eeeeee;
    color: #919191;
    width: 65px;
}
.form-group i:before {
    font-size: 24px;
    margin-left: 13px;
}
.form-group i.icon {
    left: 0;
}
.form-group a.item-content {
    height: 50px;
}
.form-group a.item-content input[type="text"] {
    height: 25px;
    line-height: 25px;
    width: 100%;
}
.form-group input[type="text"] {
    margin-top: 0;
    padding-left: 35px;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 20px;
    background-color: transparent;
}
.customMarginTop input[type="text"] {
    margin-top: -8px;
}
i.customChevronForm {
    background-color: #fff;
    width: 40px;
    background-color: transparent;
}
i.customChevronForm:before {
    color: #31C0E6;
    font-size: 16px;
}
.item-select select {
    padding: 8px 48px 10px 16px;
}
.mlcategories.mlindent a.item-content {
    padding-left: 50px;
}
i.mlpaddingright {
    margin-right: 8px;
}
.mlSmallerFont
{
    font-size: 18px;
}
.mlcategories a.item-content {
    padding: 10px 16px 10px 16px;
}
.mlcategories .item-content {
    padding: 10px 49px 10px 16px;
}
.mlcategories .radio-icon {
    padding: 7px 20px 7px 0;
}
.mlcategoriesbutton {
    min-height: 37px;
}
.circleIconGreen {
    font-size: 16px;
    font-weight: bold;
    background: #91BF64;
    color: #fff;
    padding: 4px 7px 3px 7px;
    border-radius: 50%;
    margin-right: 5px;
}
.circleIconRed {
    font-size: 16px;
    font-weight: bold;
    background: #d9534f;
    color: #fff;
    padding: 4px 7px 3px 7px;
    border-radius: 50%;
    margin-right: 5px;
}

/* Calendar */
.pickadate-cell .pickadate-enabled {
    font-size: 14px;
}
.pickadate a:visited, .pickadate a {
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
}
.mlDatePadding {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
}
.pickadate-cell .pickadate-enabled{
    color: #000;
}
.pickadate-cell .pickadate-active {
    background-color: #31C0E6;
}
.pickadate-centered-heading {
    font-weight: bold;
}
.pickadate-cell .pickadate-active {
    font-weight: bold;
}
.pickadate a:visited, .pickadate a {
    color: #31C0E6;
}
.pickadate-cell li {
    padding: 1.5% 0 1.5% 0;
}

/* NumberPad */
#resultInput {
    display: block;
    width: 100%;
    height: 50px;
    margin-right: 0 auto;
    padding-right: 10px;
    font-weight: bold;
    font-size: 20px;
    background-color: #D3EAF0;
    text-align: right;
}

#basic {
    margin: 0 auto;
    padding: 0;
    border-collapse: collapse;
    border: 2px solid #000;
    width: 100%;
    max-width: 400px;
}

    #basic td {
        background-color: #000;
        padding: 0;
        width: 18%;
        height: 18%;
        border: 1px solid #000;
    }

    #basic button {
        display: block;
        font-size: 20px;
        width: 100%;
        min-height: 60px;
        padding: 0;
        border: none;
        text-align: center;
        /* vertical-align: middle; */
        color: #000;
        background-color: #d0d1d4;
    }
        #basic button.functionKey {
            background-color: #F98E12;
            color: #fff;
        }
        #basic button.functionKey:hover {
            background-color: #ea7d05;
        }
        #basic button.disabledKey {
            background-color: #000;
        }
        #basic button:hover {
            color: #000;
            cursor: pointer;
            background-color: #babbbe;
        }

.pickCategoryIndent {
    padding-left: 30px;
}
#pickCategoryIcons ul li:first-child {
    padding-right: 8px;
}
#pickCategoryIcons ul li {
    list-style-type: none;
    display: inline;
}
#pickCategoryIcons ul li > i {
  padding-left: 7px;
  padding-right: 7px;
}
/* Pick a Payee Search */
.iconPadding {
    margin-right: 10px;
}
/* Slide Animation */
.cssSlideUp {
    transition: .5s linear all;
    height: 40px;
    overflow: hidden;
    background-color: #d9534f;
    text-align: center;
    padding-top: 8px;
    color: #fff;
}
.cssSlideUp.ng-hide {
    height:0;
}