<div class="modal">
    <ion-header-bar class="bar-stable">
        <h1 class="title">{{myTitle}}</h1>
        <div class="button button-clear" ng-click="modal.hide()"><span class="icon ion-close"></span></div>
    </ion-header-bar>
    <ion-content has-header="true" padding="true">
        <div class="main-wrap">
            <div class="row">
                <button class="col button">7</button>
                <button class="col button">8</button>
                <button class="col button">9</button>
            </div>
            <div class="row">
                <button class="col button">4</button>
                <button class="col button">5</button>
                <button class="col button">6</button>
            </div>
            <div class="row">
                <button class="col button">1</button>
                <button class="col button">2</button>
                <button class="col button">3</button>
            </div>
            <div class="row">
                <button class="col button">0</button>
            </div>
        </div>
    </ion-content>
</div>