@import url("https://fonts.googleapis.com/css?family=PT+Sans");
@import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700");
@import url("font-awesome.min.css");

/* Intro Page */
.slider-slide {
    background-color: #1D7AC1;
}
.slidePadding {
    margin-top: 60px;
}
.introHeading {
    margin-top: 10%;
    text-align: center;
    font: 80px 'PT Sans', sans-serif;
    color: #fff;
}
.introHeading h1 {
    /*margin-bottom: 5%;*/
    color: #fff;
}
.logo {
    position: relative;
    display: block;
    margin: 5% auto auto auto;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    background: #387ef5;
}
.logo span {
    font: 70px 'PT Sans', sans-serif;
    font-weight: bolder;
    color: #fff;
    position: absolute;
    top: 3px;
    left: 31px;
}
.tagline {
    text-align: center;
    color: #FFF;
    font-size: 16px;
}
.background-dark {
  background: #212121;
}
.button-intro {
    margin-top: 0;
    margin-right: -30px;
    margin-bottom: -15px;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    text-transform: uppercase;
    padding: 13px 0;
    text-decoration: none;
    font-weight: bold;
}
.button-intro.button-dark {
    background: #212121;
    color: #fff; 
}
.button-intro.button-orange {
    background: #F57D00;
    color: #fff;
}
.button-intro.button-positive {
    background: #f8d50e;
    color: #000;
}
.loginScreen {
    /*border: solid 10px transparent;*/
    padding: 10px 10px 10px 10px;
    background-color: #1D7AC1;
    background-image: url('../img/mountains.jpg');
    background-repeat: no-repeat;
}
.bar.bar-dark.bar-footer {
    padding: 0;
}

/*******************/
/*  INTRO SCREEN   */

.background-intro.pane{
    background-color: #1D7AC1;
    /*background-image: url('../img/moneyleash_bg.png');
    background-size: cover;
    background-position: center;*/    
}
.mlLinksBlue {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}
.mlLinksGray {
    text-decoration: none;
    color: #fff;
}
.intro-view, .login-view, .signup-view, .forgot-password-view {
    background-color: white !important;
}
    .intro-view ion-content:before, .login-view ion-content:before, .signup-view ion-content:before, .forgot-password-view ion-content:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
        opacity: 1.0;
        display: block;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -webkit-filter: blur(1px);
        -moz-filter: blur(1px);
        -o-filter: blur(1px);
        -ms-filter: blur(1px);
        filter: blur(1px);
    }
    .intro-view .top-content {
        height: 75%;
        text-align: center;
    }
        .intro-view .top-content h1 {
            color: #ff8000;
            font-family: "Segoe UI";
        }
    .intro-view .bottom-content {
        height: 25%;
        padding-top: 5px;
        margin-top: 0;
    }
        .intro-view .bottom-content .button {
            border: none;
            color: #fff;
            font-weight: bolder;
            font-size: 20px;
            line-height: 20px;
        }
        .intro-view .bottom-content .login.button {
            background-color: rgba(12, 91, 224, 1.00);
        }
        .intro-view .bottom-content .sign-up.button {
            background-color: rgba(164, 164, 164, 1.0);
        }

.signup-view {
    background-color: #787878 !important;
}

    .signup-view .row {
        height: 100%;
    }

    .signup-view .sign-up-container {
        margin-bottom: 0;
    }

    .signup-view .bottom-content {
        padding-top: 0;
        border: none;
    }

        .signup-view .bottom-content .button {
            margin: 0;
            font-weight: bold;
        }

    .signup-view .alternative-actions {
        margin: 0 10px;
    }

        .signup-view .alternative-actions .button {
            padding: 0;
            font-size: 14px;
        }

.forgot-password-view {
    background-color: #787878 !important;
}

    .forgot-password-view .row {
        height: 100%;
    }

    .forgot-password-view .forgot-password-container {
        margin-bottom: 0;
    }

    .forgot-password-view .bottom-content {
        padding-top: 0;
        border: none;
    }

        .forgot-password-view .bottom-content .button {
            margin: 0;
            font-weight: bold;
        }

    .forgot-password-view .alternative-actions {
        margin: 0 10px;
    }

        .forgot-password-view .alternative-actions .button {
            padding: 0;
            font-size: 14px;
        }

        .forgot-password-view .alternative-actions .sign-up {
            float: right;
        }

.logout-option {
    text-align: center;
}

.settings-view {
    background-color: #EAEAEA !important;
}

/* List Item Font Size */
.item {
    font-size: 20px;
}
.DateDivider {
    font-weight: bold;
    font: 13px 'Helvetica Neue', sans-serif;
    padding-top: 8px;
    padding-bottom: 8px;
    min-height: 32px;
    color: #00A2E8;
}
.DateDivider.assertive {
    color: #00A2E8;
}
.SectionDividerActive {
    color: #FF5E2E;
}
/* Action Sheet */
.action-sheet-title {
    font-size: 18px;
    color: #505050;
}
.action-sheet .button {
    font: 18px 'PT Sans', sans-serif;
}
.button.button-dark.button-clear {
    font-size: 16px;
    min-height: 36px;
    line-height: 36px;
}
.button-white {
    color: #fff;
}
/* ionicPopup */
.popup-body {
    padding: 10px;
    overflow: hidden;
}
.popup-buttons .button{
    border-color: #e67300;
    background-color: #ff8000;
}
/* Spin animation for ion-loop */
.spinner svg {
  width: 28px;
  height: 28px;
}

/********************/
/* LEFT MENU SCREEN */
.customPaddingMenuItem {
    padding: 0 40px 0 13px;
    text-shadow: 1px 1px #eeeeee;
    font: 20px 'PT Sans Narrow', sans-serif;
}
.ion-ios-undo-outline{
    color: #CE1B31;
}
.menuLogout {
    color: #CE1B31;
}
/* Menu Icons and Chevron Icons */
.bar-menu {
    background-color: #28a54c;
    width: 100%;
    padding: 0;
}
.bar-menu .HeaderTitle {
    text-align: left;
    font-size: 17px;
    padding-left: 15px;
    padding-top: 12px;
    color: #fff;
    font-weight: bolder;
}
.bar.bar-menu .title {
    color: #ff8000;
    font-weight: bolder;
}
.item-icon-left.item-icon-right .icon:first-child {
    right: 0;
}
.item-icon-right .icon {
    right: 8px;
}
.item-icon-left .icon:before {
    display: block;
    width: 25px;
    text-align: center;
    padding-left: 9px;
    text-shadow: 1px 1px #eeeeee;
}
.icon-left-smaller:before {
    font-size: 24px;
    font-weight: normal;
}
.ion-chevron-right:before {
    color: #31C0E6;
    font-size: 14px;
}
.customChevronMenu:before {
    color: #31C0E6;
}
/* Menu item text style */
.item-complex.item-icon-right .item-content {
    padding-right: 40px;
    font-weight: normal;
    color: #172F39;
    height: 100%;
}
.circleIconBlue {
    font-size: 16px;
    font-weight: bold;
    background: #31C0E6;
    color: #fff;
    padding: 0 0 0 2px;
    border-radius: 50%;
    margin-right: 5px;
    margin-top: 13px;
    width: 35px;
    max-height: 35px;
}
/* Menu item padding */
.item-complex.item-icon-left .item-content {
    padding: 14px 49px 14px 40px;
}
.bar.bar-subheader.CustomSubHeader {
  padding-top: 3px;
}
.CustomSubHeader {
    background-color: #D3EAF0;
}
.customHeaderIcon:before {
    color: #31C0E6;
    font-size: 32px;
}
.customHeaderIconSmall:before {
    font-size: 20px;
}
.extraMarginRight {
    margin-right: 10px;
}
.bar .button.back-button {
    color: #31C0E6;
}
button.customHeaderSize {
    font-size: 20px;
}
.subTitle {
    font: 16px 'PT Sans', sans-serif;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
.button.button-positive.button-clear {
    color: #31C0E6;
}

/***********************************/
/* ACCOUNTS & TRANSACTIONS SCREENS */

.row {
    padding: 0;
    width: 100%;
    height: 100%;
}
.col {
    padding: 0;
}
.colBorder {
    border-right: 1px solid #AED9E3;
}
.AccountScreenPadding {
    padding-top: 5px;
    padding-bottom: 5px;
}
.right {
    text-align: right;
}
.center {
    text-align: center;
}
.balancesRow {
    font-weight: bold;
    font: 13px 'PT Sans Narrow', sans-serif;
}
.balancesRow span {
    display: block;
    font-weight: normal;
    font-size: 15px;
}
.CustomFooter {
    background-color: #fff;
}
.customFooterIcon:before {
    color: #fff;
    text-shadow: 0 -1px 0 #bfbfbf; 
}
.footerRow i {
    margin-top: -43px;
    text-shadow: 0px 1px 0px gray;
}
.iconCircle i:before {
    font-weight: bold;
    font-size: 75px;
    color: #00A2E8;
}
.iconPhoto i:before {
    font-weight: bold;
    font-size: 35px;
    color: #31C0E6;
}
.photoView {
    background-color: #000;
}
.PhotoFooter {
    background-color: #fff;
    border-top-width: 0;
}
.iconBackArrow i:before {
    font-weight: bold;
    font-size: 35px;
}
.footerRow span {
    display: block;
    font-weight: normal;
    font-size: 15px;
}
.netWorthRow span {
    margin-top: 8px;
    display: block;
    font-weight: normal;
    font: 18px 'PT Sans Narrow', sans-serif;
}
.customAccDesc {
    text-align: left;
    height: 37px;
    font-weight: bold;
}
.customAccDesc span small > i {
    padding-right: 3px;
}
.customAccDesc span small {
    position: absolute;
    font: 13px 'Helvetica Neue', sans-serif;
    top: 43px;
    left: 16px;
    color: #A0A0A0;
    font-weight: normal;
}
.customTransDesc {
    font-weight: bold;
}
.customTransDesc span small {
    position: absolute;
    font: 13px 'Helvetica Neue', sans-serif;
    top: 40px;
    left: 16px;
    color: #A0A0A0;
    font-weight: normal;
}
.customTransDesc span small > i {
    padding-right: 3px;
}
.customAccAmt {
    height: 37px;
    font-weight: bold;
    padding-right: 20px;
    font-size: 18px;
}
.customAccAmt span {
    position: relative;
    top: 8px;
}
.customAccAmt span small {
    position: absolute;
    font: 16px 'PT Sans Narrow', sans-serif;
    top: 20px;
    right: 0;
    color: #A0A0A0;
    font-weight: bold;
}
.customTransAmt {
    height: 37px;
    font-weight: bold;
    padding-right: 20px;
    font-size: 18px;
}
.customTransAmt span {
    position: relative;
    top: 1px;
}
.customTransAmt span small {
    position: absolute;
    font: 16px 'PT Sans Narrow', sans-serif;
    top: 20px;
    right: 0;
    color: #A0A0A0;
    font-weight: bold;
}
.textRed {
    color: #CE1B31;
}
.Expense {
    color: #CE1B31;
}
.textBlack {
    color: #000;
}
.textGreen {
    color: #1AAC57;
}
.Income {
    color: #1AAC57;
}
.item-right-edit {
    width: 60px;
}
.formLabelBold {
    font-weight: bold;
}
.transactionIsCleared .item-content {
    background-color: #eee;
    -webkit-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
    transition: all linear 0.5s;
}
.item-icon-right .item-content {
    -webkit-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
    transition: all linear 0.5s;
}
.item-toggle-option .toggle {
    position: absolute;
    top: 8px;
    right: 16px;
    z-index: 3;
}
.toggleTransactionCleared {
	text-align: center;
	width: 52px;
	height: auto;
	position: absolute;
	margin: auto 0;
    margin-left: auto;
    margin-right: auto;
	border: none;
	-webkit-appearance: none;
    -moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
    background-color: transparent;
}
.toggleTransactionCleared:after {
	content: '\f00c';
	line-height: 43px;
	font-size: 17px;
	color: #ebebeb;
	text-shadow: 0 -1px 0 #bfbfbf;
    font-family: FontAwesome;
}
.toggleTransactionCleared:checked:after {
	color: #00A2E8;
	bottom: 1px;
	position: relative;
}
.customTransactionsPopover {
    
}
.search-wrapper-light {
    border-bottom: 2px solid rgba(255,255,255,0.5);
    background: none;
    border-radius: 0;
    margin-left: 5px;
    margin-right: 5px;
}
.search-wrapper-light input, .search-wrapper-light input::-webkit-input-placeholder {
    color: #ffffff;
}
.button.button-stable {
    background-color: #b2b2b2;
    color: #fff;
}
.item-input textarea {
    width: 100%;
    font: 16px 'PT Sans', sans-serif;
}
.item-input-inset .item-input-wrapper input {
    padding-left: 4px;
    height: 29px;
    background: transparent;
    line-height: 18px;
    font: 17px 'PT Sans', sans-serif;
}

/*******************/
/* SETTINGS SCREEN */
.customPaddingSettings {
    padding: 0 40px 0 11px;
}
.customPaddingSettingsItem {
    padding: 0 40px 0 8px;
    font: 17px 'PT Sans Narrow', sans-serif;
}
.customPaddingSettingsItem i:before {
    font-size: 18px;
}
/*******************/
/*  ABOUT SCREEN   */
.slider { height: 100%; text-align: center }
.scroll { height: 100%; }

/*******************/
/*   FORM STYLES   */
.moneyleashLabel {
    padding: 0;
}
.placeholder-icon:first-child {
    padding-right: 0;
}
.placeholder-icon {
    color: #919191;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}
.icon-bg {
    background:#eeeeee;
}
.item-input .icon {
    min-width: 65px;
}
.moneyleashLabel input, label {
    margin-left: 10px;
    font-size: 20px;
    margin-top: 5px;
}
.cleanlabel {
    margin-left: 0;
    margin-top: 0;
    font-size: 17px;
}
.moneyleashLabel button {
    margin-left: 5px;
}
.moneyleashLabel div {
    padding: 5px;
    width: 85%;
    border: 0;
}
.moneyleashLabel div div {
    padding: 5px;
    width: 25%;
    border: 0;
}
.moneyleashLabel div label {
    float: right;
}
.moneyleashDatePicker {
  font-size: 20px;
  min-height: 36px;
  line-height: 36px;
  border-color: transparent;
  background: none;
  box-shadow: none;
  color: #444;
}
.moneyleashSelectBox {
    padding: 0;
}
.moneyleashSelectBox input {
    margin-top: 5px;
}
.moneyleashSelectBox input[disabled], select[disabled], textarea[disabled], input[readonly]:not(.cloned-text-input), textarea[readonly]:not(.cloned-text-input), select[readonly] {
  background-color: #fff;
  cursor: not-allowed;
}
.ml-login-input input {
    font-size: 20px;
    height: 35px;
    padding: 0;
}
.item-floating-label .input-label {
    font: 10px 'Verdana', sans-serif;
    color: #006699;
    padding: 0;
}
.item-floating-label .input-label.has-input {
    top: 4px;
}
.moneyleashTip {
    font-size: 14px;
}
.ng-hide-add, 
.ng-hide-remove {
    /* ensure visibility during the transition */
    display: block !important; /* yes, important */
}

/* Form styles */
.form-group {
    /*height: 50px;*/
}
.form-group .item-input {
    padding: 3px 0 3px 16px;
}
.form-group img {
    margin-left: 40px;
    margin-top: -12px;
    border: 0;
}
.form-group i {
    background:#eeeeee;
    color: #919191;
    width: 65px;
}
.form-group i:before {
    font-size: 24px;
    margin-left: 13px;
}
.form-group i.icon {
    left: 0;
}
.form-group a.item-content {
    height: 50px;
}
.form-group a.item-content input[type="text"], input[type="email"], input[type="password"] {
    height: 25px;
    line-height: 25px;
    width: 100%;
}
.form-group input[type="text"], input[type="email"], input[type="password"] {
    margin-top: 0;
    padding-left: 35px;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 20px;
    background-color: transparent;
}
.form-group .item-floating-label {
    border: 0;
}
.form-group .item-floating-label input[type="text"], input[type="email"], input[type="password"] {
    padding-left: 0;
}
.floating-padding {
    padding-top: 0;
    padding-bottom: 0;
}
.list-inset .item {
    padding: 3px;
}
.customMarginTop input[type="text"], input[type="email"], input[type="password"] {
    margin-top: -8px;
}
i.customChevronForm {
    background-color: #fff;
    width: 40px;
    background-color: transparent;
}
i.customChevronForm:before {
    color: #31C0E6;
    font-size: 16px;
}
.item-select select {
    padding: 8px 48px 10px 16px;
}
.mlcategories.mlindent a.item-content {
    padding-left: 50px;
}
i.mlpaddingright {
    margin-right: 8px;
}
.mlSmallerFont
{
    font-size: 18px;
}
.mlcategories a.item-content {
    padding: 10px 16px 10px 16px;
}
.mlcategories .item-content {
    padding: 10px 49px 10px 16px;
}
.mlcategories .radio-icon {
    padding: 7px 20px 7px 0;
}
.mlcategoriesbutton {
    min-height: 37px;
}
.circleIconGreen {
    font-size: 16px;
    font-weight: bold;
    background: #91BF64;
    color: #fff;
    padding: 4px 7px 3px 7px;
    border-radius: 50%;
    margin-right: 5px;
}
.circleIconRed {
    font-size: 16px;
    font-weight: bold;
    background: #d9534f;
    color: #fff;
    padding: 4px 7px 3px 7px;
    border-radius: 50%;
    margin-right: 5px;
}

/* Calendar */
.pickadate-cell .pickadate-enabled {
    font-size: 14px;
}
.pickadate a:visited, .pickadate a {
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
}
.mlDatePadding {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
}
.pickadate-cell .pickadate-enabled{
    color: #000;
}
.pickadate-cell .pickadate-active {
    background-color: #31C0E6;
}
.pickadate-centered-heading {
    font-weight: bold;
}
.pickadate-cell .pickadate-active {
    font-weight: bold;
}
.pickadate a:visited, .pickadate a {
    color: #31C0E6;
}
.pickadate-cell li {
    padding: 1.5% 0 1.5% 0;
}

/* NumberPad */
#resultInput {
    display: block;
    width: 100%;
    height: 50px;
    margin-right: 0 auto;
    padding-right: 10px;
    font-weight: bold;
    font-size: 20px;
    background-color: #D3EAF0;
    text-align: right;
}

#basic {
    margin: 0 auto;
    padding: 0;
    border-collapse: collapse;
    border: 2px solid #000;
    width: 100%;
    max-width: 400px;
}

    #basic td {
        background-color: #000;
        padding: 0;
        width: 18%;
        height: 18%;
        border: 1px solid #000;
    }

    #basic button {
        display: block;
        font-size: 20px;
        width: 100%;
        min-height: 60px;
        padding: 0;
        border: none;
        text-align: center;
        /* vertical-align: middle; */
        color: #000;
        background-color: #d0d1d4;
    }
        #basic button.functionKey {
            background-color: #F98E12;
            color: #fff;
        }
        #basic button.functionKey:hover {
            background-color: #ea7d05;
        }
        #basic button.disabledKey {
            background-color: #000;
        }
        #basic button:hover {
            color: #000;
            cursor: pointer;
            background-color: #babbbe;
        }

.pickCategoryIndent {
    padding-left: 30px;
}
#pickCategoryIcons ul li:first-child {
    padding-right: 8px;
}
#pickCategoryIcons ul li {
    list-style-type: none;
    display: inline;
}
#pickCategoryIcons ul li > i {
  padding-left: 7px;
  padding-right: 7px;
}
/* Pick a Payee Search */
.iconPadding {
    margin-right: 10px;
}
/* Slide Animation */
.cssSlideUp {
    transition: .5s linear all;
    height: 40px;
    overflow: hidden;
    background-color: #d9534f;
    text-align: center;
    padding-top: 8px;
    color: #fff;
}
.cssSlideUp.ng-hide {
    height:0;
}
/* Popover
==================================*/
.platform-ios .popover {
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.38);
    border-radius: 5px;
    height: 225px;
}
.popover a.item {
    border-top: 0;
    font: 16px 'PT Sans', sans-serif;
    padding: 8px;
    border-color: #fff;
}

.am-collapse{-webkit-animation-duration:.3s;animation-duration:.3s;-webkit-animation-timing-function:ease;animation-timing-function:ease;-webkit-animation-fill-mode:backwards;animation-fill-mode:backwards;opacity:1}.am-collapse.am-collapse-add,.am-collapse.ng-hide-remove,.am-collapse.ng-move{-webkit-animation-name:expand;animation-name:expand}.am-collapse.am-collapse-remove,.am-collapse.ng-hide{-webkit-animation-name:collapse;animation-name:collapse}.am-collapse.ng-enter{visibility:hidden;-webkit-animation-name:expand;animation-name:expand;-webkit-animation-play-state:paused;animation-play-state:paused}.am-collapse.ng-enter.ng-enter-active{visibility:visible;-webkit-animation-play-state:running;animation-play-state:running}.am-collapse.ng-leave{-webkit-animation-name:collapse;animation-name:collapse;-webkit-animation-play-state:paused;animation-play-state:paused}.am-collapse.ng-leave.ng-leave-active{-webkit-animation-play-state:running;animation-play-state:running}@-webkit-keyframes expand{from{max-height:0}to{max-height:500px}}@keyframes expand{from{max-height:0}to{max-height:500px}}@-webkit-keyframes collapse{from{max-height:500px}to{max-height:0}}@keyframes collapse{from{max-height:500px}to{max-height:0}}.panel-collapse.am-collapse.in-remove{-webkit-animation-name:collapse;animation-name:collapse;display:block}.panel-collapse.am-collapse.in-add{-webkit-animation-name:expand;animation-name:expand}.am-fade-and-scale{-webkit-animation-duration:.3s;animation-duration:.3s;-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out;-webkit-animation-fill-mode:backwards;animation-fill-mode:backwards}.am-fade-and-scale.ng-enter,.am-fade-and-scale.am-fade-and-scale-add,.am-fade-and-scale.ng-hide-remove,.am-fade-and-scale.ng-move{-webkit-animation-name:fadeAndScaleIn;animation-name:fadeAndScaleIn}.am-fade-and-scale.ng-leave,.am-fade-and-scale.am-fade-and-scale-remove,.am-fade-and-scale.ng-hide{-webkit-animation-name:fadeAndScaleOut;animation-name:fadeAndScaleOut}.am-fade-and-scale.ng-enter{visibility:hidden;-webkit-animation-name:fadeAndScaleIn;animation-name:fadeAndScaleIn;-webkit-animation-play-state:paused;animation-play-state:paused}.am-fade-and-scale.ng-enter.ng-enter-active{visibility:visible;-webkit-animation-play-state:running;animation-play-state:running}.am-fade-and-scale.ng-leave{-webkit-animation-name:fadeAndScaleOut;animation-name:fadeAndScaleOut;-webkit-animation-play-state:paused;animation-play-state:paused}.am-fade-and-scale.ng-leave.ng-leave-active{-webkit-animation-play-state:running;animation-play-state:running}@-webkit-keyframes fadeAndScaleIn{from{opacity:0;-webkit-transform:scale(0.7);transform:scale(0.7)}to{opacity:1}}@keyframes fadeAndScaleIn{from{opacity:0;-webkit-transform:scale(0.7);transform:scale(0.7)}to{opacity:1}}@-webkit-keyframes fadeAndScaleOut{from{opacity:1}to{opacity:0;-webkit-transform:scale(0.7);transform:scale(0.7)}}@keyframes fadeAndScaleOut{from{opacity:1}to{opacity:0;-webkit-transform:scale(0.7);transform:scale(0.7)}}.am-fade-and-slide-top{-webkit-animation-duration:.3s;animation-duration:.3s;-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out;-webkit-animation-fill-mode:backwards;animation-fill-mode:backwards}.am-fade-and-slide-top.am-fade-and-slide-top-add,.am-fade-and-slide-top.ng-hide-remove,.am-fade-and-slide-top.ng-move{-webkit-animation-name:fadeAndSlideFromTop;animation-name:fadeAndSlideFromTop}.am-fade-and-slide-top.am-fade-and-slide-top-remove,.am-fade-and-slide-top.ng-hide{-webkit-animation-name:fadeAndSlideToTop;animation-name:fadeAndSlideToTop}.am-fade-and-slide-top.ng-enter{visibility:hidden;-webkit-animation-name:fadeAndSlideFromTop;animation-name:fadeAndSlideFromTop;-webkit-animation-play-state:paused;animation-play-state:paused}.am-fade-and-slide-top.ng-enter.ng-enter-active{visibility:visible;-webkit-animation-play-state:running;animation-play-state:running}.am-fade-and-slide-top.ng-leave{-webkit-animation-name:fadeAndSlideToTop;animation-name:fadeAndSlideToTop;-webkit-animation-play-state:paused;animation-play-state:paused}.am-fade-and-slide-top.ng-leave.ng-leave-active{-webkit-animation-play-state:running;animation-play-state:running}.am-fade-and-slide-right{-webkit-animation-duration:.3s;animation-duration:.3s;-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out;-webkit-animation-fill-mode:backwards;animation-fill-mode:backwards}.am-fade-and-slide-right.am-fade-and-slide-right-add,.am-fade-and-slide-right.ng-hide-remove,.am-fade-and-slide-right.ng-move{-webkit-animation-name:fadeAndSlideFromRight;animation-name:fadeAndSlideFromRight}.am-fade-and-slide-right.am-fade-and-slide-right-remove,.am-fade-and-slide-right.ng-hide{-webkit-animation-name:fadeAndSlideToRight;animation-name:fadeAndSlideToRight}.am-fade-and-slide-right.ng-enter{visibility:hidden;-webkit-animation-name:fadeAndSlideFromRight;animation-name:fadeAndSlideFromRight;-webkit-animation-play-state:paused;animation-play-state:paused}.am-fade-and-slide-right.ng-enter.ng-enter-active{visibility:visible;-webkit-animation-play-state:running;animation-play-state:running}.am-fade-and-slide-right.ng-leave{-webkit-animation-name:fadeAndSlideToRight;animation-name:fadeAndSlideToRight;-webkit-animation-play-state:paused;animation-play-state:paused}.am-fade-and-slide-right.ng-leave.ng-leave-active{-webkit-animation-play-state:running;animation-play-state:running}.am-fade-and-slide-bottom{-webkit-animation-duration:.3s;animation-duration:.3s;-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out;-webkit-animation-fill-mode:backwards;animation-fill-mode:backwards}.am-fade-and-slide-bottom.am-fade-and-slide-bottom-add,.am-fade-and-slide-bottom.ng-hide-remove,.am-fade-and-slide-bottom.ng-move{-webkit-animation-name:fadeAndSlideFromBottom;animation-name:fadeAndSlideFromBottom}.am-fade-and-slide-bottom.am-fade-and-slide-bottom-remove,.am-fade-and-slide-bottom.ng-hide{-webkit-animation-name:fadeAndSlideToBottom;animation-name:fadeAndSlideToBottom}.am-fade-and-slide-bottom.ng-enter{visibility:hidden;-webkit-animation-name:fadeAndSlideFromBottom;animation-name:fadeAndSlideFromBottom;-webkit-animation-play-state:paused;animation-play-state:paused}.am-fade-and-slide-bottom.ng-enter.ng-enter-active{visibility:visible;-webkit-animation-play-state:running;animation-play-state:running}.am-fade-and-slide-bottom.ng-leave{-webkit-animation-name:fadeAndSlideToBottom;animation-name:fadeAndSlideToBottom;-webkit-animation-play-state:paused;animation-play-state:paused}.am-fade-and-slide-bottom.ng-leave.ng-leave-active{-webkit-animation-play-state:running;animation-play-state:running}.am-fade-and-slide-left{-webkit-animation-duration:.3s;animation-duration:.3s;-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out;-webkit-animation-fill-mode:backwards;animation-fill-mode:backwards}.am-fade-and-slide-left.am-fade-and-slide-left-add,.am-fade-and-slide-left.ng-hide-remove,.am-fade-and-slide-left.ng-move{-webkit-animation-fill-mode:backwards;animation-fill-mode:backwards;-webkit-animation-name:fadeAndSlideFromLeft;animation-name:fadeAndSlideFromLeft}.am-fade-and-slide-left.am-fade-and-slide-left-remove,.am-fade-and-slide-left.ng-hide{-webkit-animation-name:fadeAndSlideToLeft;animation-name:fadeAndSlideToLeft}.am-fade-and-slide-left.ng-enter{visibility:hidden;-webkit-animation-name:fadeAndSlideFromLeft;animation-name:fadeAndSlideFromLeft;-webkit-animation-play-state:paused;animation-play-state:paused}.am-fade-and-slide-left.ng-enter.ng-enter-active{visibility:visible;-webkit-animation-play-state:running;animation-play-state:running}.am-fade-and-slide-left.ng-leave{-webkit-animation-name:fadeAndSlideToLeft;animation-name:fadeAndSlideToLeft;-webkit-animation-play-state:paused;animation-play-state:paused}.am-fade-and-slide-left.ng-leave.ng-leave-active{-webkit-animation-play-state:running;animation-play-state:running}@-webkit-keyframes fadeAndSlideFromTop{from{opacity:0;-webkit-transform:translateY(-20%);transform:translateY(-20%)}to{opacity:1}}@keyframes fadeAndSlideFromTop{from{opacity:0;-webkit-transform:translateY(-20%);transform:translateY(-20%)}to{opacity:1}}@-webkit-keyframes fadeAndSlideToTop{from{opacity:1}to{opacity:0;-webkit-transform:translateY(-20%);transform:translateY(-20%)}}@keyframes fadeAndSlideToTop{from{opacity:1}to{opacity:0;-webkit-transform:translateY(-20%);transform:translateY(-20%)}}@-webkit-keyframes fadeAndSlideFromRight{from{opacity:0;-webkit-transform:translateX(20%);transform:translateX(20%)}to{opacity:1}}@keyframes fadeAndSlideFromRight{from{opacity:0;-webkit-transform:translateX(20%);transform:translateX(20%)}to{opacity:1}}@-webkit-keyframes fadeAndSlideToRight{from{opacity:1}to{opacity:0;-webkit-transform:translateX(20%);transform:translateX(20%)}}@keyframes fadeAndSlideToRight{from{opacity:1}to{opacity:0;-webkit-transform:translateX(20%);transform:translateX(20%)}}@-webkit-keyframes fadeAndSlideFromBottom{from{opacity:0;-webkit-transform:translateY(20%);transform:translateY(20%)}to{opacity:1}}@keyframes fadeAndSlideFromBottom{from{opacity:0;-webkit-transform:translateY(20%);transform:translateY(20%)}to{opacity:1}}@-webkit-keyframes fadeAndSlideToBottom{from{opacity:1}to{opacity:0;-webkit-transform:translateY(20%);transform:translateY(20%)}}@keyframes fadeAndSlideToBottom{from{opacity:1}to{opacity:0;-webkit-transform:translateY(20%);transform:translateY(20%)}}@-webkit-keyframes fadeAndSlideFromLeft{from{opacity:0;-webkit-transform:translateX(-20%);transform:translateX(-20%)}to{opacity:1}}@keyframes fadeAndSlideFromLeft{from{opacity:0;-webkit-transform:translateX(-20%);transform:translateX(-20%)}to{opacity:1}}
@-webkit-keyframes fadeAndSlideToLeft{from{opacity:1}to{opacity:0;-webkit-transform:translateX(-20%);transform:translateX(-20%)}}@keyframes fadeAndSlideToLeft{from{opacity:1}to{opacity:0;-webkit-transform:translateX(-20%);transform:translateX(-20%)}}.am-fade{-webkit-animation-duration:.3s;animation-duration:.3s;-webkit-animation-timing-function:linear;animation-timing-function:linear;-webkit-animation-fill-mode:backwards;animation-fill-mode:backwards;opacity:1}.am-fade.am-fade-add,.am-fade.ng-hide-remove,.am-fade.ng-move{-webkit-animation-name:fadeIn;animation-name:fadeIn}.am-fade.am-fade-remove,.am-fade.ng-hide{-webkit-animation-name:fadeOut;animation-name:fadeOut}.am-fade.ng-enter{visibility:hidden;-webkit-animation-name:fadeIn;animation-name:fadeIn;-webkit-animation-play-state:paused;animation-play-state:paused}.am-fade.ng-enter.ng-enter-active{visibility:visible;-webkit-animation-play-state:running;animation-play-state:running}.am-fade.ng-leave{-webkit-animation-name:fadeOut;animation-name:fadeOut;-webkit-animation-play-state:paused;animation-play-state:paused}.am-fade.ng-leave.ng-leave-active{-webkit-animation-play-state:running;animation-play-state:running}@-webkit-keyframes fadeIn{from{opacity:0}to{opacity:1}}@keyframes fadeIn{from{opacity:0}to{opacity:1}}@-webkit-keyframes fadeOut{from{opacity:1}to{opacity:0}}@keyframes fadeOut{from{opacity:1}to{opacity:0}}.tab-pane.am-fade.active-remove{display:none!important}.tab-pane.am-fade.active-add{-webkit-animation-name:fadeIn;animation-name:fadeIn}.modal-backdrop.am-fade,.aside-backdrop.am-fade{background:rgba(0,0,0,.5);-webkit-animation-duration:.15s;animation-duration:.15s}.modal-backdrop.am-fade.ng-leave,.aside-backdrop.am-fade.ng-leave{-webkit-animation-delay:.3s;animation-delay:.3s}.am-flip-x{-webkit-animation-duration:.4s;animation-duration:.4s;-webkit-animation-timing-function:ease;animation-timing-function:ease;-webkit-animation-fill-mode:backwards;animation-fill-mode:backwards}.am-flip-x.am-flip-x-add,.am-flip-x.ng-hide-remove,.am-flip-x.ng-move{-webkit-animation-name:flipInXBounce;animation-name:flipInXBounce}.am-flip-x.am-flip-x-remove,.am-flip-x.ng-hide{-webkit-animation-name:flipOutX;animation-name:flipOutX}.am-flip-x.ng-enter{visibility:hidden;-webkit-animation-name:flipInXBounce;animation-name:flipInXBounce;-webkit-animation-play-state:paused;animation-play-state:paused}.am-flip-x.ng-enter.ng-enter-active{visibility:visible;-webkit-animation-play-state:running;animation-play-state:running}.am-flip-x.ng-leave{-webkit-animation-name:flipOutX;animation-name:flipOutX;-webkit-animation-play-state:paused;animation-play-state:paused}.am-flip-x.ng-leave.ng-leave-active{-webkit-animation-play-state:running;animation-play-state:running}.am-flip-x-linear{-webkit-animation-duration:.4s;animation-duration:.4s;-webkit-animation-timing-function:ease;animation-timing-function:ease;-webkit-animation-fill-mode:backwards;animation-fill-mode:backwards}.am-flip-x-linear.am-flip-x-add,.am-flip-x-linear.ng-hide-remove,.am-flip-x-linear.ng-move{-webkit-animation-name:flipInX;animation-name:flipInX}.am-flip-x-linear.am-flip-x-remove,.am-flip-x-linear.ng-hide{-webkit-animation-name:flipOutX;animation-name:flipOutX}.am-flip-x-linear.ng-enter{visibility:hidden;-webkit-animation-name:flipInX;animation-name:flipInX;-webkit-animation-play-state:paused;animation-play-state:paused}.am-flip-x-linear.ng-enter.ng-enter-active{visibility:visible;-webkit-animation-play-state:running;animation-play-state:running}.am-flip-x-linear.ng-leave{-webkit-animation-name:flipOutX;animation-name:flipOutX;-webkit-animation-play-state:paused;animation-play-state:paused}.am-flip-x-linear.ng-leave.ng-leave-active{-webkit-animation-play-state:running;animation-play-state:running}@-webkit-keyframes flipInX{from{opacity:0;-webkit-transform:perspective(400px) rotateX(90deg);transform:perspective(400px) rotateX(90deg)}to{opacity:1;-webkit-transform:perspective(400px) rotateX(0deg);transform:perspective(400px) rotateX(0deg)}}@keyframes flipInX{from{opacity:0;-webkit-transform:perspective(400px) rotateX(90deg);transform:perspective(400px) rotateX(90deg)}to{opacity:1;-webkit-transform:perspective(400px) rotateX(0deg);transform:perspective(400px) rotateX(0deg)}}@-webkit-keyframes flipInXBounce{from{opacity:0;-webkit-transform:perspective(400px) rotateX(90deg);transform:perspective(400px) rotateX(90deg)}40%{-webkit-transform:perspective(400px) rotateX(-10deg);transform:perspective(400px) rotateX(-10deg)}70%{-webkit-transform:perspective(400px) rotateX(10deg);transform:perspective(400px) rotateX(10deg)}to{opacity:1;-webkit-transform:perspective(400px) rotateX(0deg);transform:perspective(400px) rotateX(0deg)}}@keyframes flipInXBounce{from{opacity:0;-webkit-transform:perspective(400px) rotateX(90deg);transform:perspective(400px) rotateX(90deg)}40%{-webkit-transform:perspective(400px) rotateX(-10deg);transform:perspective(400px) rotateX(-10deg)}70%{-webkit-transform:perspective(400px) rotateX(10deg);transform:perspective(400px) rotateX(10deg)}to{opacity:1;-webkit-transform:perspective(400px) rotateX(0deg);transform:perspective(400px) rotateX(0deg)}}@-webkit-keyframes flipOutX{from{opacity:1;-webkit-transform:perspective(400px) rotateX(0deg);transform:perspective(400px) rotateX(0deg)}to{opacity:0;-webkit-transform:perspective(400px) rotateX(90deg);transform:perspective(400px) rotateX(90deg)}}@keyframes flipOutX{from{opacity:1;-webkit-transform:perspective(400px) rotateX(0deg);transform:perspective(400px) rotateX(0deg)}to{opacity:0;-webkit-transform:perspective(400px) rotateX(90deg);transform:perspective(400px) rotateX(90deg)}}.am-slide-top{-webkit-animation-duration:.3s;animation-duration:.3s;-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out;-webkit-animation-fill-mode:backwards;animation-fill-mode:backwards}.am-slide-top.am-slide-top-add,.am-slide-top.ng-hide-remove,.am-slide-top.ng-move{-webkit-animation-name:slideFromTop;animation-name:slideFromTop}.am-slide-top.am-slide-top-remove,.am-slide-top.ng-hide{-webkit-animation-name:slideToTop;animation-name:slideToTop}.am-slide-top.ng-enter{visibility:hidden;-webkit-animation-name:slideFromTop;animation-name:slideFromTop;-webkit-animation-play-state:paused;animation-play-state:paused}.am-slide-top.ng-enter.ng-enter-active{visibility:visible;-webkit-animation-play-state:running;animation-play-state:running}.am-slide-top.ng-leave{-webkit-animation-name:slideToTop;animation-name:slideToTop;-webkit-animation-play-state:paused;animation-play-state:paused}.am-slide-top.ng-leave.ng-leave-active{-webkit-animation-play-state:running;animation-play-state:running}.am-slide-right{-webkit-animation-duration:.3s;animation-duration:.3s;-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out;-webkit-animation-fill-mode:backwards;animation-fill-mode:backwards}.am-slide-right.am-slide-right-add,.am-slide-right.ng-hide-remove,.am-slide-right.ng-move{-webkit-animation-name:slideFromRight;animation-name:slideFromRight}.am-slide-right.am-slide-right-remove,.am-slide-right.ng-hide{-webkit-animation-name:slideToRight;animation-name:slideToRight}.am-slide-right.ng-enter{visibility:hidden;-webkit-animation-name:slideFromRight;animation-name:slideFromRight;-webkit-animation-play-state:paused;animation-play-state:paused}.am-slide-right.ng-enter.ng-enter-active{visibility:visible;-webkit-animation-play-state:running;animation-play-state:running}.am-slide-right.ng-leave{-webkit-animation-name:slideToRight;animation-name:slideToRight;-webkit-animation-play-state:paused;animation-play-state:paused}.am-slide-right.ng-leave.ng-leave-active{-webkit-animation-play-state:running;animation-play-state:running}.am-slide-bottom{-webkit-animation-duration:.3s;animation-duration:.3s;-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out;-webkit-animation-fill-mode:backwards;animation-fill-mode:backwards}.am-slide-bottom.am-slide-bottom-add,.am-slide-bottom.ng-hide-remove,.am-slide-bottom.ng-move{-webkit-animation-name:slideFromBottom;animation-name:slideFromBottom}.am-slide-bottom.am-slide-bottom-remove,.am-slide-bottom.ng-hide{-webkit-animation-name:slideToBottom;animation-name:slideToBottom}.am-slide-bottom.ng-enter{visibility:hidden;-webkit-animation-name:slideFromBottom;animation-name:slideFromBottom;-webkit-animation-play-state:paused;animation-play-state:paused}.am-slide-bottom.ng-enter.ng-enter-active{visibility:visible;-webkit-animation-play-state:running;animation-play-state:running}.am-slide-bottom.ng-leave{-webkit-animation-name:slideToBottom;animation-name:slideToBottom;-webkit-animation-play-state:paused;animation-play-state:paused}.am-slide-bottom.ng-leave.ng-leave-active{-webkit-animation-play-state:running;animation-play-state:running}.am-slide-left{-webkit-animation-duration:.3s;animation-duration:.3s;-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out;-webkit-animation-fill-mode:backwards;animation-fill-mode:backwards}.am-slide-left.am-slide-left-add,.am-slide-left.ng-hide-remove,.am-slide-left.ng-move{-webkit-animation-name:slideFromLeft;animation-name:slideFromLeft}.am-slide-left.am-slide-left-remove,.am-slide-left.ng-hide{-webkit-animation-name:slideToLeft;animation-name:slideToLeft}.am-slide-left.ng-enter{visibility:hidden;-webkit-animation-name:slideFromLeft;animation-name:slideFromLeft;-webkit-animation-play-state:paused;animation-play-state:paused}.am-slide-left.ng-enter.ng-enter-active{visibility:visible;-webkit-animation-play-state:running;animation-play-state:running}.am-slide-left.ng-leave{-webkit-animation-name:slideToLeft;animation-name:slideToLeft;-webkit-animation-play-state:paused;animation-play-state:paused}.am-slide-left.ng-leave.ng-leave-active{-webkit-animation-play-state:running;animation-play-state:running}@-webkit-keyframes slideFromTop{from{-webkit-transform:translateY(-100%);transform:translateY(-100%)}
}@keyframes slideFromTop{from{-webkit-transform:translateY(-100%);transform:translateY(-100%)}}@-webkit-keyframes slideToTop{to{-webkit-transform:translateY(-100%);transform:translateY(-100%)}}@keyframes slideToTop{to{-webkit-transform:translateY(-100%);transform:translateY(-100%)}}@-webkit-keyframes slideFromRight{from{-webkit-transform:translateX(100%);transform:translateX(100%)}}@keyframes slideFromRight{from{-webkit-transform:translateX(100%);transform:translateX(100%)}}@-webkit-keyframes slideToRight{to{-webkit-transform:translateX(100%);transform:translateX(100%)}}@keyframes slideToRight{to{-webkit-transform:translateX(100%);transform:translateX(100%)}}@-webkit-keyframes slideFromBottom{from{-webkit-transform:translateY(100%);transform:translateY(100%)}}@keyframes slideFromBottom{from{-webkit-transform:translateY(100%);transform:translateY(100%)}}@-webkit-keyframes slideToBottom{to{-webkit-transform:translateY(100%);transform:translateY(100%)}}@keyframes slideToBottom{to{-webkit-transform:translateY(100%);transform:translateY(100%)}}@-webkit-keyframes slideFromLeft{from{-webkit-transform:translateX(-100%);transform:translateX(-100%)}}@keyframes slideFromLeft{from{-webkit-transform:translateX(-100%);transform:translateX(-100%)}}@-webkit-keyframes slideToLeft{to{-webkit-transform:translateX(-100%);transform:translateX(-100%)}}@keyframes slideToLeft{to{-webkit-transform:translateX(-100%);transform:translateX(-100%)}}


/* ion-md-labels
==================================*/
.mllogin {
    background-color: #fff;
    margin-left: 20px;
    margin-right: 20px;
    padding: 15px;
    opacity: 0.6;
}
.item-md-label {
  display: block;
  background-color: transparent;
  box-shadow: none;
  padding-top: 40px;
  padding-bottom: 0; 
}
  .item-md-label .input-label {
    position: absolute;
    padding: 5px 0 0;
    z-index: 2;
    -webkit-transform: translate3d(0, -30px, 0) scale(1);
    transform: translate3d(0, -30px, 0) scale(1);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    color: #000;
    transform-origin: 0; }
  .item-md-label input {
    z-index: 1;
    position: relative;
    bottom: 5px; }
  .item-md-label .highlight {
    position: absolute;
    bottom: 0;
    height: 2px;
    left: 0;
    width: 100%;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease; }
  .item-md-label .highlight-light {
    background: #fff; }
  .item-md-label .highlight-stable {
    background: #f8f8f8; }
  .item-md-label .highlight-positive {
    background: #387ef5; }
  .item-md-label .highlight-calm {
    background: #11c1f3; }
  .item-md-label .highlight-balanced {
    background: #33cd5f; }
  .item-md-label .highlight-energized {
    background: #ffc900; }
  .item-md-label .highlight-assertive {
    background: #ef473a; }
  .item-md-label .highlight-royal {
    background: #886aea; }
  .item-md-label .highlight-dark {
    background: #444; }
  .item-md-label input:focus ~ .input-label, .item-md-label input.used ~ .input-label {
    -webkit-transform: translate3d(0, -60px, 0) scale(0.9);
    transform: translate3d(0, -60px, 0) scale(0.9);
    opacity: 1; }
  .item-md-label input:focus ~ .highlight {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }