@import url("http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700");
@import url(http://fonts.googleapis.com/css?family=PT+Sans);
@import url("font-awesome.min.css");

/* List Item Font Size */
.item {
    font-size: 20px;
}
.SectionDivider {
    font-size: 12px;
    font-weight: normal;
    font: 14px 'PT Sans', sans-serif;
    /* background-color: #d0d2d8; */
}
.SectionDividerActive {
    color: #0000ff;
}
/* Padding for all ion-item ng-repeat lists */
.item-complex .item-content {
    padding: 12px 45px 12px 16px;
}
/* Action Sheet */
.action-sheet-title {
    font-size: 16px;
    color: #505050;
}
.action-sheet .button {
    font: 16px 'PT Sans', sans-serif;
}
.button.button-dark.button-clear {
    font-size: 16px;
    min-height: 36px;
    line-height: 36px;
}
/* ionicPopup */
.popup-body {
    padding: 10px;
    overflow: hidden;
}
.popup-buttons .button{
    border-color: #e67300;
    background-color: #ff8000;
}
/* Styles for number pad 
.row, .col {
    text-align: center;
}
.col {
    margin: 5px !important;
    border-radius: 8px !important;
    padding: 15px 0px !important;
}
*/
/* force color red */
.redtext {
    color: red;
}
.bar.bar-stable {
    border-bottom: #b2b2b2 1px solid;
}
.bar.bar-calm {
    border-bottom: #000 1px solid;
    background-color: #00aff0;
}
.bar.bar-balanced {
    border-bottom: #505050 1px solid;
}
/* Spin animation for ion-loop */
.spinner svg {
  width: 28px;
  height: 28px;
}

/***************/
/* MENU SCREEN */
.customPaddingMenuItem {
    padding: 4px 40px 4px 11px;
}
/* Menu Icons and Chevron Icons */
.bar-stable .HeaderTitle {
    text-align: left;
    font-size: 17px;
    padding-left: 10px;
    padding-top: 10px;
    color: #ff8000;
    font-weight: bolder;
}
.bar.bar-stable .title {
    color: #ff8000;
    font-weight: bolder;
}
.item-icon-left.item-icon-right .icon:first-child {
    right: 0;
}
.item-icon-right .icon {
    right: 8px;
}
.item-icon-left .icon:before {
    display: block;
    width: 25px;
    text-align: center;
    padding-left: 7px;
}
.icon-left-smaller:before {
    font-size: 24px;
}
.ion-chevron-right:before {
    color: #b5b5b5;
    font-size: 14px;
}
.customChevronMenu:before {
    color: #ff7100;
}
.item-complex.item-icon-right .item-content {
    padding-right: 40px;
}
.item-complex.item-icon-left .item-content {
    padding-left: 40px;
}
.item-icon-left {
    padding-left: 40px;
}
.customHeaderIcon:before {
    color: #ff7100;
    font-size: 32px;
}
.customHeaderIconSmall:before {
    font-size: 20px;
}
.bar .button.back-button {
    color: #ff7100;
}
button.customHeaderSize {
    font-size: 20px;
}
.customFooterIcon:before {
    color: #fff;
    text-shadow: 0 -1px 0 #bfbfbf;
}
.footerTitle {
    font: 14px 'PT Sans', sans-serif;
}

/***********************************/
/* ACCOUNTS & TRANSACTIONS SCREENS */

.row {
    padding: 0;
}
.AccountScreenPadding {
    padding-top: 5px;
    padding-bottom: 5px;
}
.right{
    text-align: right;
}
.customAccDesc {
    text-align: left;
    height: 37px;
    font-weight: bold;
}
.customAccDesc span small {
    position: absolute;
    font: 13px 'PT Sans Narrow', sans-serif;
    top: 37px;
    left: 16px;
    color: #B1B2B7;
    font-weight: normal;
}
.customTransDesc {
    font-weight: bold;
}
.customTransDesc span small {
    position: absolute;
    font: 13px 'PT Sans Narrow', sans-serif;
    top: 31px;
    left: 16px;
    color: #B1B2B7;
    font-weight: normal;
}
.customAccAmt {
    height: 37px;
    font-weight: bold;
    padding-right: 20px;
    font-size: 16px;
}
.customAccAmt span {
    position: relative;
    top: 1px;
}
.customAccAmt span small {
    position: absolute;
    font: 16px 'PT Sans Narrow', sans-serif;
    top: 20px;
    right: 0;
    color: #B1B2B7;
    font-weight: bold;
}
.amountRed {
    /*color: #F33D24;*/
    color: #FF5E2E;
}
.amountGreen {
    color: #66AF36;
}
.item-right-edit {
    width: 60px;
}
#accountsIcons ul {
    margin-top: 5px;
    width: 150px;
    display: table;
    table-layout: fixed;
}
#accountsIcons ul li:first-child {
    width: 85px;
    overflow: hidden;
}
#accountsIcons ul li {
    list-style-type: none;
    display: table-cell;
    margin-right: 7px;
    margin-left: 7px;
    color: #B1B2B7;
    font: 14px 'PT Sans', sans-serif;
}
#accountsIcons ul li > i {
  margin-right: 3px;
  font-size: 11px;
}
#transactionIcons ul {
    margin-top: 5px;
    width: 195px;
    display: table;
    table-layout: fixed;
}
#transactionIcons ul li:first-child {
    width: 150px;
    overflow: hidden;
}
#transactionIcons ul li {
    list-style-type: none;
    display: table-cell;
    margin-right: 7px;
    margin-left: 7px;
    color: #B1B2B7;
    font: 14px 'PT Sans', sans-serif;
}
#transactionIcons ul li > i {
  margin-right: 3px;
  font-size: 11px;
}
.formLabelBold {
    font-weight: bold;
}
.transactionIsCleared .item-content {
    background-color: #eee;
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
}
.item-icon-right .item-content {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
}
.item-toggle-option .toggle {
    position: absolute;
    top: 8px;
    right: 16px;
    z-index: 3;
}
.toggleTransactionCleared {
	text-align: center;
	width: 52px;
	height: auto;
	position: absolute;
	margin: auto 0;
    margin-left: auto;
    margin-right: auto;
	border: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
    background-color: transparent;
}
.toggleTransactionCleared:after {
	content: '\f00c';
	line-height: 43px;
	font-size: 17px;
	color: #ebebeb;
	text-shadow: 0 -1px 0 #bfbfbf;
    font-family: FontAwesome;
}
.toggleTransactionCleared:checked:after {
	color: #44B449;
	text-shadow: 0 0 0 #669991;
	bottom: 1px;
	position: relative;
}
.customTransactionsPopover {
    
}
.popover a.item {
    border-top: 0;
    font: 16px 'PT Sans', sans-serif;
    height: 40px;
}
.search-wrapper-light {
    border-bottom: 2px solid rgba(255,255,255,0.5);
    background: none;
    border-radius: 0;
    margin-left: 5px;
    margin-right: 5px;
}

.search-wrapper-light input, .search-wrapper-light input::-webkit-input-placeholder {
    color: #ffffff;
}

/*******************/
/*  INTRO SCREEN   */

.mlLinksBlue {
    text-decoration: none;
    color: blue;
    font-size: 16px;
}
.mlLinksGray {
    text-decoration: none;
    color: blue;
}
.intro-view, .login-view, .signup-view, .forgot-password-view {
    background-color: white !important;
}
    .intro-view ion-content:before, .login-view ion-content:before, .signup-view ion-content:before, .forgot-password-view ion-content:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
        opacity: 1.0;
        display: block;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -webkit-filter: blur(1px);
        -moz-filter: blur(1px);
        -o-filter: blur(1px);
        -ms-filter: blur(1px);
        filter: blur(1px);
    }
    .intro-view .top-content {
        height: 75%;
        text-align: center;
    }
        .intro-view .top-content h1 {
            color: #ff8000;
            font-family: "Segoe UI";
        }
    .intro-view .bottom-content {
        height: 25%;
        padding-top: 5px;
        margin-top: 0;
    }
        .intro-view .bottom-content .button {
            border: none;
            color: #fff;
            font-weight: bolder;
            font-size: 20px;
            line-height: 20px;
        }
        .intro-view .bottom-content .login.button {
            background-color: rgba(12, 91, 224, 1.00);
        }
        .intro-view .bottom-content .sign-up.button {
            background-color: rgba(164, 164, 164, 1.0);
        }

.signup-view {
    background-color: #787878 !important;
}

    .signup-view .row {
        height: 100%;
    }

    .signup-view .sign-up-container {
        margin-bottom: 0;
    }

    .signup-view .bottom-content {
        padding-top: 0;
        border: none;
    }

        .signup-view .bottom-content .button {
            margin: 0;
            font-weight: bold;
        }

    .signup-view .alternative-actions {
        margin: 0 10px;
    }

        .signup-view .alternative-actions .button {
            padding: 0;
            font-size: 14px;
        }

.forgot-password-view {
    background-color: #787878 !important;
}

    .forgot-password-view .row {
        height: 100%;
    }

    .forgot-password-view .forgot-password-container {
        margin-bottom: 0;
    }

    .forgot-password-view .bottom-content {
        padding-top: 0;
        border: none;
    }

        .forgot-password-view .bottom-content .button {
            margin: 0;
            font-weight: bold;
        }

    .forgot-password-view .alternative-actions {
        margin: 0 10px;
    }

        .forgot-password-view .alternative-actions .button {
            padding: 0;
            font-size: 14px;
        }

        .forgot-password-view .alternative-actions .sign-up {
            float: right;
        }

.logout-option {
    text-align: center;
}

.settings-view {
    background-color: #EAEAEA !important;
}

/*******************/
/* SETTINGS SCREEN */
.customPaddingSettings {
    padding: 0 40px 0 11px;
}

/*******************/
/*  ABOUT SCREEN   */
.slider { height: 100%; text-align: center }
.scroll { height: 100%; }

/*******************/
/*   FORM STYLES   */
.moneyleashLabel {
    padding: 0;
}
.placeholder-icon:first-child {
    padding-right: 0px;
}
.placeholder-icon {
    background:#eeeeee;
    color: #919191;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}
.item-input .icon {
    min-width: 65px;
}
.moneyleashLabel input, label {
    margin-left: 10px;
    font-size: 20px;
    margin-top: 5px;
}
.moneyleashLabel input[type="radio"], input[type="checkbox"] {
    margin: 0;
    line-height: normal;
}
.moneyleashLabel button {
    margin-left: 5px;
}
.moneyleashLabel div {
    padding: 5px;
    width: 85%;
    border: 0;
}
.moneyleashLabel div div {
    padding: 5px;
    width: 25%;
    border: 0;
}
.moneyleashLabel div label {
    float: right;
}
.moneyleashDatePicker {
  font-size: 20px;
  min-height: 36px;
  line-height: 36px;
  border-color: transparent;
  background: none;
  box-shadow: none;
  color: #444;
}
.moneyleashSelectBox {
    padding: 0;
}
.moneyleashSelectBox input {
    margin-top: 5px;
}
.moneyleashSelectBox input[disabled], select[disabled], textarea[disabled], input[readonly]:not(.cloned-text-input), textarea[readonly]:not(.cloned-text-input), select[readonly] {
  background-color: #fff;
  cursor: not-allowed;
}
.ml-login-input input {
    font-size: 20px;
}
.moneyleashTip {
    font-size: 14px;
}

/***********************/
/* SLIDER SLIDE STYLES */
.slider-slide {
    background-color: #1D7AC1;
}

/***************************/
/* TRANSACTION TYPE STYLES */
.item-radio .item-content {
    padding: 0px;
    background: none;
}
.button-bar .button {
    min-height: 0;
    line-height: 30px;
}
.button-bar > .item-radio.button {
    padding: 0;
}
.item-radio input:checked ~ .item-content {
    /* style the item content when its checked */
    border-color: #145fd7;
    background-color: #4a87ee;
    color: white;
}
.item-radio .radio-icon {
    display: none;
}
.button.button-positive.button-outline.active, .button.button-positive.button-outline.activated {
    background-color: #4a87ee;
    box-shadow: none;
    color: #fff;
}
.card .item:last-child, .list-inset .item:last-child {
    margin-bottom: 0;
}